<!-- Shift Request -->
<div class="border-left-blue col-xs-12 shift-request-col">
    <form name="shiftRequestForm">
        <div class="row">
            <div class="col-xs-12 request-title light-blue-font text-center">
                SHIFT REQUEST
            </div>
        </div>
        <!-- Current User Shift -->
        <div class="row current-user-shift-row">
            <div class="col-xs-3 no-pad text-center">
                <div class="l-shift-avatar-container center">
                  <user-avatar avatar-source="{{currentUser.pictureURI}}"
                    avatar-first-name="{{currentUser.firstName}}"
                    avatar-role="{{currentUser.role}}">
                  </user-avatar>
                </div>
            </div>
            <div class="col-xs-9 text-center shift-select-col">
                <select
                        class="shift-select"
                        ng-model="currentUserShift"
                        ng-options="futureShift.value as futureShift.label for futureShift in currentUser.future_shifts"
                        required>
                    <option value="">Select Shift</option>
                </select>
            </div>
        </div>
        <!-- Requested User Shift -->
        <div class="row requested-user-shift-row" ng-show="currentUserShift || requestedUser.id">
            <p class="requested-user-instructions">Select who you'd like to swap shifts with:</p>
            <div class="col-xs-3 no-pad text-center">
                <div class="l-shift-avatar-container center" ng-click="setRequestedUser()">
                  <user-avatar avatar-source="{{requestedUser.pictureURI}}"
                    avatar-first-name="{{requestedUser.firstName}}"
                    avatar-role="{{requestedUser.role}}">
                  </user-avatar>
                </div>
            </div>
            <div class="col-xs-9 text-center shift-select-col">
                <select
                        class="shift-select"
                        ng-model="requestedUserShift"
                        ng-disabled="requestedUser.id == null"
                        ng-options="futureShift.value as futureShift.label for futureShift in requestedUser.future_shifts"
                        required>
                    <option value="">Select Shift</option>
                </select>
            </div>
        </div>
        <!-- Message -->
        <div class="row shift-swap-message-row" ng-show="requestedUser.id">
            <div class="col-xs-3 no-pad text-center light-blue-font">
                <div class="margin-top-20">MESSAGE</div>
                <div class="font-xs">(OPTIONAL)</div>
            </div>
            <div class="col-xs-9 text-center shift-select-col">
                <textarea
                        class="shift-swap-message-input"
                        ng-model="shiftSwapMessage">
                </textarea>
            </div>
        </div>
        <!-- Submit -->
        <div class="row shift-swap-submit-row" ng-show="currentUserShift && requestedUserShift">
            <div class="col-xs-12 light-blue-font">
                <button ng-click="submitSwapRequest()" class="sch-btn-blue font-xxs request-submit" type="button" id="submitSwap" >SUBMIT SHIFT REQUEST</button>
            </div>
        </div>
    </form>
</div>

<!-- Time Off Request -->
<div class="border-left-gray col-xs-12 time-off-request-col">
    <div class="row">
        <div class="col-xs-12 request-title smoke-white-font text-center">
            TIME OFF REQUEST
        </div>
    </div>
    <!-- Select Date and Time -->
    <div class="row time-off-submit-row">
        <div class="col-xs-12 smoke-white-font">
            <button ui-sref="Main.Schedule.TimeOff" class="sch-btn-grey font-xxs request-submit" type="button" id="selectDateTime">SELECT DATE & TIME</button>
        </div>
    </div>
</div>
