<div class="col-xs-12 shift-swap-container" ng-style="requestsContainerStyle" ng-init="help()">
    <div class="row">
        <div class="col-xs-12">
            <!-- Tab Panel -->
            <div class="row swap-tab-panel" ng-click="tabChange($event)">
                <div data-tab="#tab1" ng-class="{'active':tabSelected=='#tab1','col-xs-6': auth.hasRole('manager') || auth.hasRole('owner'),'col-xs-4':!auth.hasRole('manager') && !auth.hasRole('owner')}" class="text-center tab-div">
                    PENDING
                </div>
                <div data-tab="#tab2" ng-class="{'active':tabSelected=='#tab2','col-xs-6':auth.hasRole('manager') || auth.hasRole('owner'),'col-xs-4':!auth.hasRole('manager') && !auth.hasRole('owner')}"class="text-center tab-div">
                    APPROVED
                </div>
                <div ng-if="!auth.hasRole('manager') && !auth.hasRole('owner')" data-tab="#tab3" ng-class="{'active':tabSelected=='#tab3'}" class="col-xs-4 text-center tab-div">
                    DECLINED
                </div>
            </div>

            <!-- Request Filters -->
            <div class="row request-filters" id="step1">
                <div class="col-xs-4 text-center">
                    <button type="button"
                            name="viewAll"
                            class="font-xxs"
                            ng-class="{'sch-btn-grey': !getActiveClass('viewAll'), 'sch-btn-blue': getActiveClass('viewAll')}"
                            ng-click="viewAll()">VIEW ALL
                    </button>
                </div>
                <div class="col-xs-4 text-center">
                    <button type="button"
                            name="viewSwaps"
                            class="font-xxs"
                            ng-class="{'sch-btn-grey': !getActiveClass('viewSwaps'), 'sch-btn-blue': getActiveClass('viewSwaps')}"
                            ng-click="viewSwaps()">SHIFT SWAP
                    </button>
                </div>
                <div class="col-xs-4 text-center">
                    <button type="button"
                            name="viewTimeOff"
                            class="font-xxs"
                            ng-class="{'sch-btn-grey': !getActiveClass('viewTimeOff'), 'sch-btn-blue': getActiveClass('viewTimeOff')}"
                            ng-click="viewTimeOff()">TIME OFF
                    </button>
                </div>
            </div>

            <!-- Tab Panes -->

            <div class="row swap-tab-panes">

                <!-- Pending Tab -->

                <div id="tab1" class="ng-hide col-xs-12" ng-show="tabSelected=='#tab1'">

                    <div ng-repeat="swap in swaps.pending">

                        <!-- Swap -->

                        <div ng-if="swap.type == 'swap'" ng-class="{'swap-row-last' : $last}" class="row swap-row border-left-blue">
                            <div class="col-xs-6 swap-avatar-col">
                                <div class="row swap-user-row font-xs">
                                    <div class="col-xs-5 no-pad text-center">
                                        <div class="l-swap-avatar-container center">
                                          <user-avatar avatar-source="{{swap.requestingUser.avatar}}"
                                            avatar-first-name="{{swap.requestingUser.userName}}"
                                            avatar-role="{{swap.requestingUser.role}}">
                                          </user-avatar>
                                        </div>
                                        <div ng-if="swap.requestingUser.hours !== false" class="lighter-gray-font font-xxs">
                                            {{swap.requestingUser.hours}}
                                        </div>
                                    </div>
                                    <div class="swap-icon-col col-xs-2 lighter-gray-font no-pad text-center">
                                        <i class="fa fa-refresh smoke-white-font font-md"></i>
                                    </div>
                                    <div class="col-xs-5 no-pad text-center">
                                        <div class="l-swap-avatar-container center">
                                          <user-avatar avatar-source="{{swap.requestedUser.avatar}}"
                                            avatar-first-name="{{swap.requestedUser.userName}}"
                                            avatar-role="{{swap.requestedUser.role}}">
                                          </user-avatar>
                                        </div>
                                        <div ng-if="swap.requestingUser.hours !== false" class="lighter-gray-font font-xxs">
                                            {{swap.requestedUser.hours}}
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="(swap.userStatus !== 'approved'
                                    && (swap.requestedUser.id.toString() == auth.getUser()._id.toString())
                                    )
                                    ||
                                    ( auth.hasPermission('schedule', 'approveSwap'))
                                " class="row">
                                    <div class="col-xs-6 swap-yes-col">
                                        <button type="button"
                                                name="approve"
                                                class="font-xxs sch-btn-green"
                                                ng-click="approveSwap(swap.swapId)"
                                                ng-if="(auth.hasRole('manager') || auth.hasRole('owner')) || auth.getUser()._id !== swap.requestingUser.id">YES
                                        </button>
                                    </div>
                                    <div class="col-xs-6 swap-no-col">
                                        <button type="button"
                                                name="reject"
                                                class="font-xxs sch-btn-red"
                                                ng-click="declineSwap(swap.swapId)">NO
                                        </button>
                                    </div>
                                </div>
                                <div ng-if="(!auth.hasRole('manager') && !auth.hasRole('owner')) && swap.userStatus == 'approved'" class="row">
                                    <div class="col-xs-12 font-xxs">
                                        Pending Manager Approval
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 swap-info-col font-xs smoke-white-font">
                                <div class="margin-top-10">
                                    {{swap.requestingUser.userName | uppercase}} TAKES:
                                </div>
                                <div class="font-xxs">
                                    {{swap.requestedUser.shiftStr}}
                                </div>
                                <div class="margin-top-10">
                                    {{swap.requestedUser.userName | uppercase}} TAKES:
                                </div>
                                <div class="font-xxs">
                                    {{swap.requestingUser.shiftStr}}
                                </div>
                                <div class="margin-top-10 swap-notes font-xxs lighter-gray-font">
                                    {{swap.requestingUser.reason}}
                                </div>
                            </div>
                        </div>

                        <!-- Time Off-->

                        <div ng-if="swap.type == 'timeOff'" class="row swap-row swap-row-last border-left-gray">
                            <div class="col-xs-6 swap-avatar-col">
                                <div class="row swap-user-row font-xs">
                                    <div class="col-xs-12 text-center">
                                        <div class="l-swap-avatar-container center">
                                          <user-avatar avatar-source="{{swap.requestingUser.avatar}}"
                                            avatar-first-name="{{swap.requestingUser.userName}}"
                                            avatar-role="{{swap.requestingUser.role}}">
                                          </user-avatar>
                                        </div>
                                        <div ng-if="swap.requestingUser.hours !== false" class="lighter-gray-font font-xxs">
                                            {{swap.requestedUser.hours}}
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="auth.hasPermission('schedule', 'approveSwap')" class="row">
                                    <div class="col-xs-6 swap-yes-col">
                                        <button type="button"
                                                name="approve"
                                                class="font-xxs sch-btn-green"
                                                ng-click="approveTimeOff(swap.swapId)">YES
                                        </button>
                                    </div>
                                    <div class="col-xs-6 swap-no-col">
                                        <button type="button"
                                                name="reject"
                                                class="font-xxs sch-btn-red"
                                                ng-click="declineTimeOff(swap.swapId)">NO
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 swap-info-col font-xs smoke-white-font">
                                <div class="margin-top-10">
                                    {{swap.requestingUser.userName | uppercase}} IS REQUESTING OFF:
                                </div>
                                <div class="font-xxs">
                                    {{swap.requestingUser.shiftStr}}
                                </div>
                                <div class="margin-top-10 swap-notes font-xxs lighter-gray-font">
                                    {{swap.requestingUser.reason}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Approved Tab -->

                <div id="tab2" class="ng-hide col-xs-12" ng-show="tabSelected=='#tab2'">

                    <div ng-repeat="swap in swaps.approved">

                        <!-- Swap -->

                        <div ng-if="swap.type == 'swap'" ng-class="{'swap-row-last' : $last}" class="row swap-row border-left-blue">
                            <div class="col-xs-6 swap-avatar-col">
                                <div class="row swap-user-row font-xs">
                                    <div class="col-xs-5 no-pad text-center">
                                        <div class="l-swap-avatar-container center">
                                          <user-avatar avatar-source="{{swap.requestingUser.avatar}}"
                                            avatar-first-name="{{swap.requestingUser.userName}}"
                                            avatar-role="{{swap.requestingUser.role}}">
                                          </user-avatar>
                                        </div>
                                        <div ng-if="swap.requestingUser.hours !== false" class="lighter-gray-font font-xxs">
                                            {{swap.requestingUser.hours}}
                                        </div>
                                    </div>
                                    <div class="swap-icon-col col-xs-2 lighter-gray-font no-pad text-center">
                                        <i class="fa fa-refresh smoke-white-font font-md"></i>
                                    </div>
                                    <div class="col-xs-5 no-pad text-center">
                                        <div class="l-swap-avatar-container center">
                                          <user-avatar avatar-source="{{swap.requestedUser.avatar}}"
                                            avatar-first-name="{{swap.requestedUser.userName}}"
                                            avatar-role="{{swap.requestedUser.role}}">
                                          </user-avatar>
                                        </div>
                                        <div ng-if="swap.requestingUser.hours !== false" class="lighter-gray-font font-xxs">
                                            {{swap.requestedUser.hours}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 swap-info-col font-xs smoke-white-font">
                                <div class="margin-top-10 font-xxs">
                                    APPROVED {{swap.updatedOn}}
                                </div>
                                <div class="margin-top-10">
                                    {{swap.requestingUser.userName | uppercase}}: {{swap.requestedUser.shiftStr}}
                                </div>
                                <div class="margin-top-10">
                                    {{swap.requestedUser.userName | uppercase}}: {{swap.requestingUser.shiftStr}}
                                </div>
                                <div class="margin-top-10 swap-notes font-xxs lighter-gray-font">
                                    {{swap.requestingUser.reason}}
                                </div>
                            </div>
                        </div>

                        <!-- Time Off-->

                        <div ng-if="swap.type == 'timeOff'" class="row swap-row swap-row-last border-left-gray">
                            <div class="col-xs-6 swap-avatar-col">
                                <div class="row swap-user-row font-xs">
                                    <div class="col-xs-12 text-center">
                                        <div class="l-swap-avatar-container center">
                                          <user-avatar avatar-source="{{swap.requestingUser.avatar}}"
                                            avatar-first-name="{{swap.requestingUser.userName}}"
                                            avatar-role="{{swap.requestingUser.role}}">
                                          </user-avatar>
                                        </div>
                                        <div ng-if="swap.requestingUser.hours !== false" class="lighter-gray-font font-xxs">
                                            {{swap.requestedUser.hours}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 swap-info-col font-xs smoke-white-font">
                                <div class="margin-top-10 font-xxs">
                                    APPROVED {{swap.updatedOn}}
                                </div>
                                <div class="margin-top-10">
                                    {{swap.requestingUser.userName | uppercase}} IS OFF:
                                </div>
                                <div class="font-xxs">
                                    {{swap.requestingUser.shiftStr}}
                                </div>
                                <div class="margin-top-10 swap-notes font-xxs lighter-gray-font">
                                    {{swap.requestingUser.reason}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Declined Tab -->

                <div id="tab3" class="ng-hide col-xs-12" ng-show="tabSelected=='#tab3'">

                    <div ng-repeat="swap in swaps.declined">

                        <!-- Swap -->

                        <div ng-if="swap.type == 'swap'" ng-class="{'swap-row-last' : $last}" class="row swap-row border-left-blue">
                            <div class="col-xs-6 swap-avatar-col">
                                <div class="row swap-user-row font-xs">
                                    <div class="col-xs-5 no-pad text-center">
                                        <div class="l-swap-avatar-container center">
                                          <user-avatar avatar-source="{{swap.requestingUser.avatar}}"
                                            avatar-first-name="{{swap.requestingUser.userName}}"
                                            avatar-role="{{swap.requestingUser.role}}">
                                          </user-avatar>
                                        </div>
                                        <div ng-if="swap.requestingUser.hours !== false" class="lighter-gray-font font-xxs">
                                            {{swap.requestingUser.hours}}
                                        </div>
                                    </div>
                                    <div class="swap-icon-col col-xs-2 lighter-gray-font no-pad text-center">
                                        <i class="fa fa-refresh smoke-white-font font-md"></i>
                                    </div>
                                    <div class="col-xs-5 no-pad text-center">
                                        <div class="l-swap-avatar-container center">
                                          <user-avatar avatar-source="{{swap.requestedUser.avatar}}"
                                            avatar-first-name="{{swap.requestedUser.userName}}"
                                            avatar-role="{{swap.requestedUser.role}}">
                                          </user-avatar>
                                        </div>
                                        <div ng-if="swap.requestingUser.hours !== false" class="lighter-gray-font font-xxs">
                                            {{swap.requestedUser.hours}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 swap-info-col font-xs smoke-white-font">
                                <div class="margin-top-10 font-xxs">
                                    DECLINED {{swap.updatedOn}}
                                </div>
                                <div class="margin-top-10 font-xxs">
                                    REASON DECLINED: {{swap.reason}}
                                </div>
                                <div class="margin-top-10">
                                    {{swap.requestingUser.userName | uppercase}}: {{swap.requestedUser.shiftStr}}
                                </div>
                                <div class="margin-top-10">
                                    {{swap.requestedUser.userName | uppercase}}: {{swap.requestingUser.shiftStr}}
                                </div>
                                <div class="margin-top-10 swap-notes font-xxs lighter-gray-font">
                                    {{swap.requestingUser.reason}}
                                </div>
                            </div>
                        </div>

                        <!-- Time Off-->

                        <div ng-if="swap.type == 'timeOff'" class="row swap-row swap-row-last border-left-gray">
                            <div class="col-xs-6 swap-avatar-col">
                                <div class="row swap-user-row font-xs">
                                    <div class="col-xs-12 text-center">
                                        <div class="l-swap-avatar-container center">
                                          <user-avatar avatar-source="{{swap.requestingUser.avatar}}"
                                            avatar-first-name="{{swap.requestingUser.userName}}"
                                            avatar-role="{{swap.requestingUser.role}}">
                                          </user-avatar>
                                        </div>
                                        <div ng-if="swap.requestingUser.hours !== false" class="lighter-gray-font font-xxs">
                                            {{swap.requestedUser.hours}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 swap-info-col font-xs smoke-white-font">
                                <div class="margin-top-10 font-xxs">
                                    DECLINED {{swap.updatedOn}}
                                </div>
                                <div class="margin-top-10 font-xxs">
                                    REASON DECLINED: {{swap.reason}}
                                </div>
                                <div class="margin-top-10">
                                    {{swap.requestingUser.userName | uppercase}} REQUESTED OFF:
                                </div>
                                <div class="font-xxs">
                                    {{swap.requestingUser.shiftStr}}
                                </div>
                                <div class="margin-top-10 swap-notes font-xxs lighter-gray-font">
                                    {{swap.requestingUser.reason}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
