<img class="center l-register-image"
	src="img/logo_big.png"
	alt="Bar HQ Logo"
	ng-hide="shouldHideLogo()" />
<div id="l-register-view-container" ui-view></div>
<div id="l-register-nav-container">
	<div id="l-register-nav-btns">
		<span id="l-register-back-btn"
			name="registerBackBtn"
			ng-click="back()"
			ng-show='showBack'>&lt; BACK</span>
		<span id="l-register-next-btn"
			name="registerNextBtn"
			ng-click="next()"
			ng-hide="shouldShowFinish() || shouldHideNext()">NEXT &gt;</span>
		<span id="l-register-finish-btn"
			name="registerFinishBtn"
			ng-click="finish()"
			ng-show="shouldShowFinish()">FINISH</span>
	</div>
	<div id="l-register-breadcrumbs"
		name="registerBreadcrumbs"
		class="m-breadcrumbs">
		<ul>
			<li ng-class="{'s-selected': isCrumbSelected(1)}"></li>
			<li ng-class="{'s-selected': isCrumbSelected(2)}"></li>
			<li ng-class="{'s-selected': isCrumbSelected(3)}"></li>
			<li ng-class="{'s-selected': isCrumbSelected(4)}"
				ng-show="showLastCrumbs()"></li>
			<li ng-class="{'s-selected': isCrumbSelected(5)}"
				ng-show="showLastCrumbs()"></li>
		</ul>
	</div>
</div>
