<form id="register-basic" name="registerBasic" class="m-form">
	<input type="text"
		name="regBasicFirstName"
		placeholder="First Name"
		ng-model="user.firstName"
		ng-class="{'s-error':
			registerBasic.regBasicFirstname.$invalid &&
			registerBasic.regBasicFirstName.$dirty}"
		ng-keypress="onGo()"
		required>
	<input type="text"
		name="regBasicLastName"
		placeholder="Last Name"
		ng-model="user.lastName"
		ng-class="{'s-error':
			registerBasic.regBasicLastname.$invalid &&
			registerBasic.regBasicLastname.$dirty}"
		ng-keypress="onGo()"
		required>
	<input type="email"
		name="regBasicEmail"
		placeholder="Email Address"
		ng-model="user.email"
		ng-pattern="/^[A-Za-z0-9!#$%&'*+/=?^_`{|}~.-]+@[A-Za-z0-9-]+\.[A-Za-z0-9-]+$/"
		ng-class="{'s-error':
			registerBasic.regBasicEmail.$invalid &&
			registerBasic.regBasicEmail.$dirty}"
		ng-keypress="onGo()"
		required>
	<input type="password"
		name="regBasicPassword"
		placeholder="Password"
		ng-model="user.password"
		ng-minlength="8"
		ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).+$/"
		ng-class="{'s-error':
			registerBasic.regBasicPassword.$invalid &&
			registerBasic.regBasicPassword.$dirty}"
		ng-keypress="onGo()"
		required>
	<input type="password"
		name="regBasicConfirm"
		placeholder="Confirm Password"
		ng-model="user.confirm"
		ng-minlength="8"
		ng-class="{'s-error':
			registerBasic.regBasicConfirm.$invalid &&
			registerBasic.regBasicConfirm.$dirty}"
		ng-keypress="onGo()"
		required>
</form>
