<div class="pageHeader">Search Users/Bars</div>

<div  align="center">
	<form>
		<div class="inlineDiv blackBlock">
			<div style="display:inline-block;">
				<table align="center">
					<tr>
						<td width="100">
							Query:
						</td>
						<td width="200">
							<input type="text" ng-model="searchQuery">
						</td>
					</tr>
					<tr>
						<td width="100">
							Search in: 
						</td>
						<td width="200">
							<select ng-model="searchType">
								<option value="">-- Select --</option>
								<option value="users">User Accounts</option>
								<option value="bar">Bars</option>
							</select>
						</td>
					</tr>
				</table>
			</div>
			<div class="inlineDiv">
				<table align="center">
					<tr>
						<td width="100">
							Search by:
						</td>
						<td width="200">
							<select ng-model="searchFor"  ng-options="searchOptions.name for searchOptions in searchOptions">
								<option value="">-- Select --</option>
							</select>
														
						</td>
					</tr>
					<tr>
						<td>
						</td>
						<td>
							<input type="submit" value="Search Database" ng-click="doSearch();">
						</td>
					</tr>
				</table>
			</div>
				<hr />
				<span class="smallText">You first need to select a 'search in' critea followed by 'search by'.</span>
		</div>
	</form>


</div>

<div ng-hide="Results" align="center" style="margin-top:50px">
	Sorry, no corresponding results were found.
</div>


<div ng-show="noResults">
Search results for {{searchQuery}}, as a {{searchFor.name}}, in {{searchType}} <br />
</div>

<div class="centerResults">
	<!---User result div-->
	<a href="#/viewUser/{{user._id}}"  ng-repeat="user in Results" ng-show="userResults">
		<div class="inlineDiv userResultDiv blackBlock">
			<div class="inlineDiv">
				<image src="imgs/noImage.jpg" width="100">
			</div>

			<div class="inlineDiv">
				<b>{{user.firstName}} {{user.lastName}}</b><br />
				<span class="smidText">{{user.email}}</span><br /><br />
				<span style="color:#b2b4b3"><b>Status:</b> {{user.status}} </span>
				<br />
				<span style="color:#b2b4b3"><b>Locked:</b> {{user.locked}} </span>
			</div>  
		</div>
	</a>



	<!---Bar result div-->
	<a href="#/viewBar/{{bar._id}}"  ng-repeat="bar in Results" ng-show="barResults">
		<div class="inlineDiv userResultDiv blackBlock">

			<div class="inlineDiv barDiv">
				<b>{{bar.name}}</b><br />
				<span class="midText">{{bar.streetAddress}}, <br />{{bar.city}}, {{bar.state}}, {{bar.zipcode}}</span><br /><br />
				<span class="midText"><b>Category:</b> {{bar.category}}</span>
			</div>  

		</div>
	</a>
</div>