<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html ng-app="myApp">
	<head>
		<title>Taffer App - Administration Portal</title>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/app.css">
		<script src="lib/angular/angular.js"></script> 		
		<script src="lib/angular/angular-route.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/admins/all.js"></script>
		<script src="js/controllers/admins/create.js"></script>
		<script src="js/controllers/admins/view.js"></script>
		<script src="js/controllers/ads/update.js"></script>
		<script src="js/controllers/ads/viewAndCreate.js"></script>
		<script src="js/controllers/promotions/promotions.js"></script>
		<script src="js/controllers/tips/create.js"></script>
		<script src="js/controllers/tips/update.js"></script>
		<script src="js/controllers/tips/view.js"></script>
		<script src="js/controllers/usersAndBars/search.js"></script>
		<script src="js/controllers/usersAndBars/viewBar.js"></script>
		<script src="js/controllers/usersAndBars/viewUser.js"></script>
		<script src="js/controllers/courses/view.js"></script>
		<script src="js/controllers/courses/create.js"></script>
		<script src="js/controllers/questions/create.js"></script>
		<script src="js/controllers/questions/view.js"></script>
		<script src="js/controllers/header.js"></script>
		<script src="js/controllers/login.js"></script>
		<script src="js/controllers/main.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/utilities.js"></script>
		<meta name="viewport" content="width=750, user-scalable=yes">
	</head>

	<body>
		<div class="sideBar">
			<div class="innerSideBar">
				<center><b><u>Navigation Menu</u></b></center>
				<br />
				<div class="navParent">
					<div class="inlineText"><img src="imgs/icon_search.png" width="20"></div>
					<div class="inlineText"><a href="#/search">Search Users/Bars</a></div>
				</div>

				<hr width="80%" />
			  	
			  	<div class="navParent" ng-click="showAA = ! showAA">
			  		<div class="inlineText"><img src="imgs/icon_admins.png" width="20"></div>
			  		<div class="inlineText">Admin Accounts</div>
			  	</div>
				<div ng-show="showAA" class="navDrop">	
					<div class="navChild"><a href="#/createAdmin">Create account</a></div>
					<div class="navChild"><a href="#/viewAdmins">View admins</a></div>
			    </div>  


			  	<div class="navParent" ng-click="showAds = ! showAds">
			  		<div class="inlineText"><img src="imgs/icon_ads.png" width="20"></div>
			  		<div class="inlineText">Advertisements</div>
			  	</div>
				<div ng-show="showAds" class="navDrop">	
					<div class="navChild"><a href='#/viewAds'>View Ads</a></div>
					<div class="navChild"><a href='#/createAd'>Create new Ad</a></div>
			    </div> 

 			  	<div class="navParent" ng-click="showCourses = ! showCourses">
			  		<div class="inlineText"><img src="imgs/icon_courses.png" width="20"></div>
			  		<div class="inlineText">Courses</div>
			  	</div>
				<div ng-show="showCourses" class="navDrop">	
					<div class="navChild"><a href='#/viewCourses'>View Courses</a></div>
					<div class="navChild"><a href='#/createCourse'>Create new Course</a></div>
			    </div> 
			    <div class="navParent" ng-click="showPromotions = ! showPromotions">
			  		<div class="inlineText"><img src="imgs/icon_tips.png" width="20"></div>
			  		<div class="inlineText">Promotions</div>
			  	</div>
				<div ng-show="showPromotions" class="navDrop">	
					<div class="navChild"><a href='#/viewPromotions'>View Promotions</a></div>
					<div class="navChild"><a href='#/createPromotion'>Create new Promotion</a></div>
			    </div> 
			    <div class="navParent" ng-click="showQA = ! showQA">
			  		<div class="inlineText"><img src="imgs/icon_qa.png" width="20"></div>
			  		<div class="inlineText">Question & Answers</div>
			  	</div>
				<div ng-show="showQA" class="navDrop">	
					<div class="navChild"><a href="#/viewQuestions">View Questions</a></div>
					<div class="navChild"><a href="#/createQuestion">Create Question</a></div>
			    </div> 


			    <div class="navParent" ng-click="showTips = ! showTips">
			  		<div class="inlineText"><img src="imgs/icon_tips.png" width="20"></div>
			  		<div class="inlineText">Tips</div>
			  	</div>
				<div ng-show="showTips" class="navDrop">
					<div class="navChild"><a href="#/viewTips">View tips</a></div>	
					<div class="navChild"><a href="#/createTip">Create new tip</a></div>
			    </div> 

			</div>
		</div>


		<div id="header" class="header" ng-controller="ctrlHeader">
				<div class="headerContent">
					<div class="headerTitle">
						<a href="#/">
							<img src="imgs/logo.png">
						</a>
					</div>
					<div style="float:right; margin-top:25px;" ng-show="adminName">
						<div class="inlineText" style="margin-top:15px;"><i>Welcome back {{adminName}}!</i></div>
						<div class="inlineText">
<ul>
  <li>
    <img src="imgs/icon_account.png" width="30">
    <ul>
      <li ng-click="myAccount();">My Account</li>
      <li ng-click="doLogout();">Log Out</li>
    </ul>
  </li>

</ul>
</div>
					</div>
				</div>
		</div>





	  	<div ng-view class="bodyDiv"></div>



	</body>
	
</html>
