<div class="pageHeader">
	Update Ad
</div>

<div align="center">

	<div class="inlineDiv">
		<div class="blackBlock">
			<div class="inlineDiv">
				<form class="ads">
					<div>
						Type: <br/>
						<select ng-model="ad.dashboardImageSize" style="width:100px">
							<option value="">-- Select --</option>
							<option value="{{size}}" ng-repeat="size in allSizes">{{size}}
						</select>
					</div>
					<br/>
                    <div>
                        Title: <br/>
                        <input type="text" ng-model="ad.title" />
                    </div>
                    <br/>
                    <div>
                        Description: <br/>
                        <textarea rows="10" cols="30" ng-model="ad.description"></textarea>
                    </div>
                    <br/>
                    <div>
                        <b>Link:</b><br/>
                        <input type="url" ng-model="ad.url" />
                    </div>
                    <br/>
					<b>Image:</b><br/>
                    <img ng-src="https://s3.amazonaws.com/taffer-dev/{{ad.dashboardImage}}" style="max-width:290px; height:auto;">
					<br/>
					<br/>
					<div>
						Change image? (optional)<br/>
                        <input type="file" accept="image/x-png, image/jpeg" file-input="dashboardImage"/>
					</div>
					<br/>
					<div>
						States:<br/>
						<div>
							<input type="checkbox" value="false" ng-model="allStates">All
						</div>
						<div ng-repeat="(key, value) in states" style="display:inline-block;width:65px;text-align:left;">
							<input type="checkbox" value="{{value}}" ng-model="states[key]">{{key}}&nbsp;
						</div>
					</div>
					<br>
					<div>
						Created: {{created}}
					<br/>
					<br/>
					<a href="#/viewAds"><input type="submit" value="Back"></a>
						<input type="submit" value="Update Ad" ng-click="updateAd()">
					</div>
				</form>
				<div ng-show="finished">
					<h3 style="color:#b2b4b3">{{finished}}</h3>
				</div>
			</div>
		</div>
	</div>
</div> 