<div class="pageHeader">View Ads</div>

<div align="center">
	<form>
		<div class="inlineDiv blackBlock">
			<div "text-align:center">Type: </div><br/>
			<select ng-model="searchType" style="width:100px">
				<option value="">-- All --</option>
				<option value="{{type}}" ng-repeat="type in allTypes">{{type}}
			</select>
			<br/>
			<br/>
			<div>
				<input type="submit" value="Get Ads" ng-click="getAds();">
			</div>
			<br/>
			<hr />
			<span class="smallText">CLICK AD TO EDIT.</span>
		</div>
	</form>
</div>


<div ng-show="adResults">
Search results for {{category || "All"}}:<br />
</div>

<div class="centerResults">
	<!---User result div-->
	<a href="#/updateAd/{{ad._id}}"  ng-repeat="ad in Results" ng-show="adResults">
		<div class="inlineDiv userResultDiv blackBlock">
			<div class="inlineDivAds">
				<b>Type:</b><br/>
				{{ad.dashboardImageSize}}
				<br/>
				<br/>

                <b>Title:</b><br/>
                {{ad.title}}
                <br/>
                <br/>

                <b>Description:</b><br/>
                {{ad.description}}
                <br/>
                <br/>

                <b>Link:</b><br/>
                {{ad.url}}
                <br/>
                <br/>

				<b>Image:</b><br/>
				<img ng-src="https://s3.amazonaws.com/taffer-dev/{{ad.dashboardImage}}" style="max-width:290px; height:auto;">
				<br/>
				<br/>
				<b>States:</b><br/>
				<span ng-repeat="state in ad.states">
					{{state}}, 
				</span>
				<br/>
				<br/>
				<b>Created:</b><br/>
				{{ad.created}}
			</div>  
		</div>
	</a>
</div>