<div id="l-schedule" class="view">
    <div class="container-fluid schedule">

        <div ng-if="header.footerNav!==false" class="row sch-footer-nav">
            <div class="col-xs-4 sch-nav-col">
                <div ui-sref-active="sch-nav-btn-selected" ui-sref="Main.Schedule.Overview" class="sch-nav-btn text-center">
                    SCHEDULE
                </div>
            </div>
            <div class="col-xs-4 sch-nav-col sch-nav-col-mid">
                <div ui-sref-active="sch-nav-btn-selected" ui-sref="Main.Schedule.Events" class="sch-nav-btn text-center">
                    EVENTS
                </div>
            </div>
            <div class="col-xs-4 sch-nav-col">
                <div ui-sref-active="sch-nav-btn-selected" ui-sref="Main.Schedule.ShiftSwap" class="sch-nav-btn text-center">
                    REQUESTS
                </div>
            </div>
        </div>

        <!-- Schedule Child Views -->
        <div class="row schedule-views" ui-view></div>

    </div>
</div>
