<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12" style="text-align: center; font-size: 20px;">
            {{selectedDate | date:"EEEE MMMM dd, yyyy"}}
        </div>
    </div>
    <div ng-if="requestObject" class="row">
        <div ng-if="requestObject.status==='pending'" class="col-xs-12">
            There is a pending time off request for this day from {{requestObject.startTime}} until {{requestObject.endTime}}.
        </div>
        <div ng-if="requestObject.status==='approved'" class="col-xs-12">
            There is an approved time off request for this day from {{requestObject.startTime}} until {{requestObject.endTime}}.
        </div>
    </div>
    <form name="shiftForm">
        <div class="row time-row">
            <table class="center">
                <tr>
                    <td colspan="3" class="text-center">TIME START</td>
                </tr>
                <tr>
                    <td class="time-row-time-input">
                        <fm-time-input steps="15" ng-model="startTime" existing-time="{{originalStartTime}}"></fm-time-input>
                    </td>
                    <td class="time-row-taffer-check-box">
                        <div class="tafferChkBox text-center">
                            <input type="checkbox" id="openCheckboxInput" name="open" ng-model="isOpening">
                            <label for="openCheckboxInput" class="fa fa-check font-xxl"></label>
                        </div>
                    </td>
                    <td class="time-row-label">
                        Opening?
                    </td>
                </tr>
            </table>
        </div>
        <div class="row time-row">
            <table class="center">
                <tr>
                    <td colspan="3" class="text-center">TIME END</td>
                </tr>
                <tr>
                    <td class="time-row-time-input">
                        <fm-time-input steps="15" ng-model="endTime" existing-time="{{originalEndTime}}"></fm-time-input>
                    </td>
                    <td class="time-row-taffer-check-box">
                        <div class="tafferChkBox text-center">
                            <input type="checkbox" id="closeCheckboxInput" name="close" ng-model="isClosing">
                            <label for="closeCheckboxInput" class="fa fa-check font-xxl"></label>
                        </div>
                    </td>
                    <td class="time-row-label">
                        Closing?
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <div class="row" ng-if="originalStartTime || originalEndTime">
        <div class="deleteShiftButton">
            <button name="deleteShift"
                    class="sch-btn-red font-xxs"
                    ng-click="delete()">DELETE
            </button>
        </div>
    </div>
</div>
