<div class="pageHeader">Bar Details</div>

<div ng-hide="barData._id" align="center">
	Sorry, no corresponding user was found.
</div>

<div ng-show="barData._id" align="center">
	<div class="inlineDiv blackBlock">
		<div class="inlineDiv">
			<image src="imgs/glass.png" width="100">
		</div>
		<div class="inlineDiv midText">
			<table width="320">
				<tr>
					<td><b>Name: </b></td><td colspan="5">{{barData.name}} [{{barData.code}}]</td>
				</tr>
				<tr>
					<td >
						<b>Street: </b></td><td colspan="5">{{barData.streetAddress}}
					</td>
				<tr>
					<td><b>City: </b></td><td>{{barData.city}}</td>
					<td><b>State: </b></td><td>{{barData.state}}</td>
					<td><b>Zip: </b></td><td>{{barData.zipcode}}</td>
				</tr>
			</table>
			<table class="smallText" align="left">
			<tr><td><b>Created: </b></td><td>{{barData.created}}</td><tr><td><b>Last updated: </b></td><td>{{barData.updated}}</td></tr>
			<hr />
			</table>					
		</div> 
	</div>


	<div ng-show="updatedText" style="margin-bottom:10px; text-align:center; color:red;">
		{{updatedText}}
	</div>

	<br />

	<div class="midText">
		Bar details must be edited by end user.
	</div>

	<br /><br />

	<div class="pageHeader">Bar Users</div>

	<div ng-hide="Results" align="center">
		Sorry, no corresponding users were found.
	</div>
</div>

<div class="centerResults">
	<!---User result div-->
	<a href="#/viewUser/{{user._id}}"  ng-repeat="user in Results" ng-show="Results">
		<div class="inlineDiv userResultDiv blackBlock">
			<div class="inlineDiv">
				<image src="imgs/noImage.jpg" width="100">
			</div>

			<div class="inlineDiv">
				<b>{{user.firstName}} {{user.lastName}}</b><br />
				<span class="smidText">{{user.email}}</span><br /><br />
				<span style="color:#b2b4b3"><b>Status:</b> {{user.status}}</span>
				<br />
				<span style="color:#b2b4b3"><b>Locked:</b> {{user.locked}} </span>
			</div>  
		</div>
	</a>
</div>


