<div class="pageHeader">Create Admin Account</div>

<div align="center">
	<div class="inlineDiv blackBlock">
		<div class="inlineDiv">
			<image src="imgs/noImage.jpg" width="100">
		</div>

		<div class="inlineDiv" >
			<table>
				<tr><td><b>Firstname: </b></td><td><input type="text" ng-model='adminData.firstName'></td></tr>
				<tr><td><b>Lastname: </b></td><td><input type="text" ng-model='adminData.lastName' class="blockInputs"></td></tr>
				<tr><td><b>Email: </b></td><td><input type="text" ng-model='adminData.email' class="blockInputs"></td></tr>
				<tr><td><b>Password: </b></td><td><input type="text" ng-model='adminData.password' class="blockInputs"></td></tr>
			</table>
		</div> 
	</div>

	


	<br />

	<div ng-show="resText" style="margin-bottom:10px; text-align:center; color:red;">
		{{resText}}
	</div>
	
	<input type="submit" value="Create Account" ng-click="createAdmin()">

</div>