#l-log-entry {
  width: 100%;
  height: 100%;
}

#l-log-entry-input-container {
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 12px;

  label {
    width: 100%;
    height: 100%;
    color: $c-primary-3;
  }

  input {
    width: 100%;
    height: 100%;
    display: block;
    background-color: $c-primary-4;
    color: $c-primary-1;
    border: none;
    padding: 5px 10px;
    outline: none;
    font-size: 16px;
    border-radius: 2px;
  }

  textarea {
    width: 100%;
    height: 100%;
    display: block;
    background-color: $c-primary-4;
    color: $c-primary-1;
    border: none;
    font-family: "Helvetica Neue Roman", arial, sans-serif;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border-radius: 2px;
  }

  p {
    margin: 0;
    color: $c-primary-4;
    font-family: "Helvetica Neue Bold", arial, sans-serif;
    font-size: 14px;
  }
}

#l-log-entry-button-container {
  width: 100%;
  height: 100%;
  padding: 10px 15px;

  #l-logbook-priority-input {
    display: inline-block;
    float: left;
    margin-top: 13px;

    input:not(#logbookPicture) {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }

    label {
      color: $c-primary-3;
      display: inline-block;
      font-size: 12px;
    }
  }


  #l-logbook-photo-button {
    float: right;
    width: 50%;
    height: 40px;
    max-width: 145px;
    padding: 5px;
    display: inline-block;
    background-color: $c-secondary-10;
    border: 1px solid $c-primary-2;
    color: $c-primary-4;
    margin-bottom: 15px;
    font-size: 14px;

    div, p {
      display: inline-block;
    }

    p {
      margin: 7px 0 0 10px;
      vertical-align:top;
    }

    &:active {
      background-color: black;
    }
  }

  #l-logbook-remove-button {
    float: right;
    width: 50%;
    height: 40px;
    max-width: 145px;
    padding: 12px 5px 5px 5px;
    display: inline-block;
    background-color: $c-secondary-8;
    border: 1px solid $c-primary-2;
    color: $c-primary-4;
    margin-bottom: 15px;
    text-align:center;
    font-size: 14px;
    vertical-align: top;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .l-logbook-image {
    width: 31%;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media only screen and (min-device-width : 600px) {
  #l-log-entry-input-container {
    font-size: 16px;
  }

  #l-log-entry-button-container {
    #l-logbook-priority-input {
      label {
        font-size: 16px;
      }
    }
  }
}
