<div id="l-myprofile" class="m-blade view">
  <blade-header blade-title="SPONSORED CONTENT" back="back()"></blade-header>


  <div id="l-sponsor-container">
    <div class="l-sponsor-banner" ng-click="goToUrl()">
      <img ng-src="http://s3.amazonaws.com/taffer-dev/{{sponsoredContent.bannerImage}}" ng-if="sponsoredContent.bannerImage"/>
      <img ng-src="http://s3.amazonaws.com/taffer-dev/{{sponsoredContent.dashboardImage}}" ng-if="!sponsoredContent.bannerImage"/>
    </div>
    <div id="l-sponsor-title">{{sponsoredContent.title | uppercase}}</div>
    <div id="l-sponsor-description" ng-bind-html="contentText"></div>
    <div id="l-sponsor-url">
      <button class="m-btn center" ng-click="goToUrl()">Learn More</button>
    </div>
    <div class="l-sponsor-banner" ng-click="goToUrl()">
      <img ng-src="http://s3.amazonaws.com/taffer-dev/{{sponsoredContent.bannerImage}}" ng-if="sponsoredContent.bannerImage"/>
      <img ng-src="http://s3.amazonaws.com/taffer-dev/{{sponsoredContent.dashboardImage}}" ng-if="!sponsoredContent.bannerImage"/>
    </div>
  </div>


</div>
