<div class="pageHeader">
	Create Tip
</div>

<div align="center">

	<div class="inlineDiv">
		<div class="blackBlock">
			<div class="inlineDiv">
				<form class="tips">
					<div>
						Title: <br/>
						<input type="text" ng-model="title" required>
					</div>
					<br/>
					<div>
						Tip:<br/>
						<textarea rows="10" cols="30" ng-model="tip" required>
						</textarea>
					</div>
					<br/>
					<div style="width:200px;">
						Category:<br/>
						<div style="text-align:left">
							<input type="checkbox" value="false" ng-model="allCategories">All
							<div ng-repeat="(key, value) in categories">
								<input type="checkbox" value="{{value}}" ng-model="categories[key]">{{key}}
							</div>
						</div>
						<br/>
						Bar Categories: <br/>
						<div style="text-align:left">
							<input type="checkbox" value="false" ng-model="allBarCategories">All
							<div ng-repeat="(key, value) in barCategories">
								<input type="checkbox" value="{{value}}" ng-model="barCategories[key]">{{key}}
							</div>
						</div>
					</div>
						<br/>
					<div ng-show="resText" style="margin-bottom:10px; text-align:center; color:red;">
						{{resText}}<br/></br>
					</div>
					<div>
						<input type="submit" value="Create Tip" ng-click="createTip();">
					</div>
				</form>
			</div>
		</div>
	</div>
</div> 