.event-modal {
    position: fixed;
    top: 5%;
	text-align: center;
	background: $c-primary-1;
	color: $c-primary-4;
	margin: auto 20px;
	padding: 25px;
	height: 150px;

	font-family: "Helvetica Nueue Roman", arial, sans-serif;
	font-style: normal;
	font-weight: normal;

	font-size: 14px;
	line-spacing: 2px;

	border: 1px solid $c-primary-3;

	.event-modal-btn-container {
		margin: 0px 10px;
		button {
			font-family: "Helvetica Nueue Thin", arial, sans-serif;
			font-style: normal;
			font-weight: normal;

			font-size: 14px;
			padding-bottom: 10px;
		}
	}

	span {
		font-family: "Helvetica Neue Bold", arial, sans-serif;
		font-style: normal;
		font-weight: normal;
		color: white;
	}
}

.event-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	background: $c-primary-1;
	opacity: 0.5;
}
