{% extends 'template.html' %}

{% block content %}

<div style='text-align: left; margin-left: 20px;'>
	<span style='font-size: 22px;'>

		<span style='color: white;'>You have been invited to join <span style='color: #33ccff'>Jon Taffer's Bar HQ!</span></span><br/>
		<br/>
		<span style='color: white;'>The Manager or Owner of <span style='color: #33ccff'>{{ barName }}</span> is taking your Bar to the next level.</span><br/>
		<br/>
	</span>
</div>
<img src='{{ baseUrl }}/img/appFeatures.jpg'></br>
		<br/>
		<br/>
<div style='text-align: left; margin-left: 20px;'>
	<span style='font-size: 22px;'>
		<center>
			<span style='font-weight: bold; color: white;'>WHEN REGISTERING, INPUT THE BAR CODE<br/>
			<span style='font-size: 28px; color: #33ccff'>{{ barCode }}</span><br/>
			and you're good to go!</span>
		</center><br/>
		<center>
			<span style='color: white;'>Get it here:</span>
			<table>
				<tr>
					<td>
						<a href="https://play.google.com/store?hl=en"><img src="https://s3.amazonaws.com/taffer-app/google_play_badge.png"></a>
					</td>
					<td>
						<a href="https://itunes.apple.com/us/genre/ios/id36?mt=8"><img src="https://s3.amazonaws.com/taffer-app/app_store_badge.png"></a>
					</td>
				<tr>
			</table>
		<br/>
		<span style='color: white;'>Enjoy,</br>
		Jon Taffer</span>
	</span>
</div>


{% endblock %}