.l-course-section {
  width: 100%;
  height: 100%;
  background-color: black;
}

#l-new-courses {
  background-color: black;
}

.l-course-slider {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    text-align: center;

    img{
      width:100%;
      height:100%;
    }
}

.l-course-slide {
    position: absolute;
    top: 0;
    left: 0;
}


.l-course-nonDraggableImage {
    -webkit-user-drag: none;
}

#l-tm-courses-nav {
  width: 100%;
  height: 65px;
}

.l-tm-courses-tab {
  width: 50%;
  height: 100%;
  display: inline-block;
  background-color: $c-primary-1;
  color: $c-secondary-10;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  text-align: center;
  padding-top: 14px;
}

.selectedTMTab {
  background-color: black;
  color: $c-primary-3;
}

.l-tm-courses-layout-tab {
  background-color: black;
}

.l-tm-course {
  padding: 15px;
  border-bottom: 1px solid $c-primary-2;
  text-align: center;
}

.l-tm-course-from {
  color: $c-primary-2;
  font-family: "Helvetica Neue Italic", sans-serif, arial;
  font-size: 12px;
}

// ********** COURSE DETAILS PAGE ***************
#l-course-details-view {
  width: 100%;
  height: 100%;
}

#l-course-details {
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: black;
  border-bottom: 1px solid $c-primary-3;
}

#l-course-header {
  margin-bottom: 15px;

  .m-course-preview {
    width: 50%;
    height: 75px;
    float: left;
    margin-right: 15px;

    .m-play {
      margin-top: 15px;
    }
  }
}

#l-course-title {
  margin-left: 5px;
  color: $c-primary-3;
  font-family: "Helvetica Neue Bold Condensed", arial, sans-serif;
}

#l-course-description {
  width: 100%;
  height: 100%;
  color: $c-primary-4;
  font-size: 12px;
  margin-bottom: 15px;
}

#l-course-buttons {
  .m-btn {
    display: inline-block;
    width: 49%;
    font-size: 8px;
  }
}

#l-course-video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  video {
      width: 100%;
      height: 100%;
      background-color: black;
  }
}

#l-course-share {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-bottom: 1px solid $c-primary-2;
}

#l-course-share-message {
  label {
    font-family: "Helvetica Neue Bold", arial, sans-serif;
    font-size: 12px;
    color: $c-primary-4;
    span {
      font-family: "Helvetica Neue Italic", arial, sans-serif;
    }
  }

  textarea {
    font-family: "Helvetica Neue Roman", arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    height: 110px;
    color: $c-primary-1;
    background-color: $c-primary-4;
    border: none;
    border-radius: 2px;
    outline: none;
  }
}

#l-course-share-all-members {
  color: $c-primary-3;
  text-align: center;
  border-bottom: 1px solid $c-primary-2;

  form {
    margin: 10px 0;
  }

  #memberButtonLabel {
    font-size: 12px;
  }
}

.l-course-share-input {
  label {
    margin-bottom: 20px;
    font-size: 18px;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: -3px 8px 0px 0px;
    vertical-align: middle;
    background: transparent;
    border: 1px solid $c-primary-3;
    @include border-radius(16px);
  }

  input[type="checkbox"]:checked + span {
    background: $c-primary-3;
  }
}

#l-course-recipients-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
}

.l-course-recipients {
  display: inline-block;
  width: 20%;
  height: 17%;
  max-width: 80px;
  margin: 5px;
  vertical-align: top;
  opacity: 0.5;
}

.selectedCourseRecipient {
  opacity: 1.0 !important;
}

#l-course-share-button {
  margin: 0 15px 20px 15px;
  button {
    font-size: 14px;
  }
}

// ********** COURSE QUIZ PAGE ***************
#l-quiz {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue Thin", arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

#l-quiz-questions-progress {
  color: $c-primary-3;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}

#l-quiz-question {
  color: $c-primary-4;
  p {
    text-align: center;
  }
}

#l-quiz-form-container {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  text-align: center;
}

#l-quiz-question-form {
  display: inline-block;

  label {
    text-align: left;
    display: block;
    color: $c-primary-3;
  }
}

.l-quiz-question-radio {
  label {
    margin-bottom: 20px;
    font-size: 18px;
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 100%;
  }

  input[type="radio"] + span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: -3px 8px 0px 0px;
    vertical-align: middle;
    background: transparent;
    border: 1px solid $c-primary-3;
    @include border-radius(16px);
  }

  input[type="radio"]:checked + span {
    background: $c-primary-3;
  }
}

#l-quiz-submit-container {
  .m-btn {
    width: 80%;
    max-width: 250px;
  }
}

#l-quiz-feedback {
  text-align: center;
  font-size: 24px;
  padding: 0 20px;

  #l-quiz-right {
    color: $c-secondary-9;
  }

  #l-quiz-wrong {
    line-height: 16px;
    color: $c-secondary-8;
    span {
      font-size: 16px;
    }

  }
}

#l-quiz-navigation {
  position: fixed;
  top: 55px;
  right: 0;
  padding-right: 20px;
  color: $c-primary-3;
  background: $c-primary-1;
  font-size: 24px;
  height: 30px;

  .l-quiz-button-container {
    float: right;
    padding: 10px 0 20px 10px;
  }
}

.l-badge-modal {
  .m-modal {
    padding: 0;
    background-color: $c-primary-1;
  }

  .m-modal-btn-container {
    button {
      width: 49%;
      display: inline-block;
    }
  }

  #l-badge-modal-header {
    color: $c-primary-3;
    border-bottom: 1px solid $c-secondary-10;
    padding-bottom: 10px;
  }

  #l-badge-modal-image {
    width: 100%;
    height: 100px;
    background-image: url(../img/badge_background.png);
    background-size: 100%;
    background-repeat: no-repeat;

    img {
      width: 25%;
      height: auto;
      margin-top: 12px;
    }
  }
}


@media only screen and (min-device-width : 600px) {
  #l-course-header {
    .m-course-preview {
      width: 50%;
      height: 150px;

      .m-play {
        margin-top: 52px;
      }
    }
  }

  #l-course-buttons {
    text-align: center;
    .m-btn {
      font-size: 14px;
    }
  }

  #l-quiz-questions-progress {
    font-size: 16px;
  }

  #l-quiz-question {
    p {
      font-size: 18px;
    }
  }

  .l-badge-modal {
    #l-badge-modal-header {
      font-size: 16px;
    }

    .m-modal {
      height: 295px;
    }

    #l-badge-modal-image {
      height: 125px;

      img {
        width: 14%;
      }
    }

    #l-badge-modal-text {
      font-size: 16px;
    }
  }
}
