#l-myprofile {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.l-myprofile-section {
  width: 100%;
  border-bottom: 1px solid $c-primary-2;
}

#l-myprofile-avatar-container {
  width: 100%;
  height: auto;
  padding: 15px;
  text-align: center;
}

#l-myprofile-avatar {
  display: inline-block;

  &:active {
    opacity: 0.5;
  }
}

.l-preshift-upload {
  width: 100px;
  height: 100px;
  background: #bfbfbf;
  text-align: center;
  overflow: hidden;
  @include border-radius(100px);
  img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  div {
    border: none !important;
  }
}

#l-profile-edit-photo {
  width: 50%;
  height: 30px;
  text-align: center;
  display: table;
  p {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    color: $c-secondary-10;

    &:active {
      color: $c-primary-4;
    }
  }
}

#l-myprofile-badges-container {
  width: 100%;
  height: 50px;
  color: $c-primary-4;
  text-align: center;
  padding-top: 5px;
}

.l-myprofile-badges {
  display: inline-block;

  img {
    width: 40%;
    height: auto;
  }
}

#l-myprofile-promotions {
  width: 100%;
  height: 50px;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  color: $c-primary-4;

  p {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  div {
    display: inline-block;
    border: 1px solid $c-primary-4;
    border-radius: 50%;
    padding-top: 8px;
    width: 30px;
    height: 30px;
    text-align: center;
  }
}

#l-myprofile-info {
  color: $c-primary-4;

  table {
    width: 100%;

    td {
      border-bottom: 1px solid $c-primary-2;
      border-right: 1px solid $c-primary-2;
      vertical-align: middle;
    }
  }

  input {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    color: $c-primary-4;
    background-color: $c-primary-1;
    border: none;
    font-size: 16px;
    outline: none;
    border-radius: 0;
  }

  input:focus {
    background-color: $c-primary-3;
    color: $c-primary-1;
  }

  .l-myprofile-row {
    height: 35px;

    .error {
      background-color: $c-secondary-8;
    }

    td {
      .m-btn {
        font-size: 12px;
      }
    }

  }

  .no-edit {
    color: $c-secondary-10;
    font-style: italic;
  }

  .l-myprofile-header {
    width: 33%;
    padding: 0 10px;
    color: $c-primary-4;
    font-family: "Helvetica Neue Bold", arial, sans-serif;
    font-size: 12px;

    .l-myprofile-changed {
      color: $c-primary-3;
    }
  }

  .l-myprofile-data {
    padding: 0 15px;
  }

  .you-gotta-keep-em-separated {
    background-color: $c-primary-2;

    td {
      width: 100%;
      height: 30px;
      font-size: 12px;
      vertical-align: middle;
      padding: 0 10px;
    }
  }

  #l-myprofile-bar-code {
    div {
      display: inline-block;
      padding: 10px 15px 5px;
    }

    #l-myprofile-refresh-icon {
      float: right;
    }

    img {
      width: 20px;
      height: auto;
    }
  }

  .m-form {
    padding: 0;
  }

  .m-form-select {
    height: 32px;
    margin: 0;
    background: url("../img/select_arrow_dark.png") no-repeat right $c-primary-1;
    background-size: 35px;
    border-radius: 0;
    select {
      color: $c-primary-4;
      font-size: 16px;
      option {
        color: $c-primary-1;
      }
    }

    select:focus {
      color: $c-primary-3;
    }
  }

  #l-myprofile-select {
    padding: 0;
  }
}

.l-myprofile-modal-buttons {
  .m-modal {
    .m-modal-btn-container {
      margin: 0;

      .m-btn {
        display: inline-block;
        width: 48%;
      }
    }
  }
}

@media only screen and (min-device-width : 600px) {
  #l-myprofile-badges-container {
    width: 100%;
    height: 70px;

    img {
      width: 60%;
    }
  }

  #l-myprofile-promotions {
    font-size: 18px;
  }

  #l-myprofile-info {
    .l-myprofile-row {
      height: 45px;

      td {
        input {
          font-size: 18px;
          height: 45px;
        }

        .m-btn {
          font-size: 14px;
        }
      }
    }

    .l-myprofile-header {
      width: 25%;
      font-size: 18px;
    }

    .you-gotta-keep-em-separated {
      td {
        height: 40px;
        font-size: 16px;
      }
    }
  }
  
}