#l-notifications {
  width: 100%;
  height: 100%;
  padding-top: $header-height;
}

#l-notifications-container {
  width: 100%;
  height: 100%;
}

.l-notifications-none-message {
    text-align: center;
    margin-top: 20px;
    color: $c-primary-4;
    font-size: 20px;
}

.l-notification {
  width: 100%;
  height: 70px;
  display: table;
  border-bottom: 1px solid $c-primary-2;
}

.l-notification-delete {
  width: 10%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.l-notification-new-indicator {
  width: 5%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;

  div {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
  }
}

.l-notification-text {
  padding: 10px 5px;
  display: table-cell;
  vertical-align: middle;
}

.l-notification-delete-active {
  width: 25%;
  display: table-cell;
  background-color: $c-secondary-8;
  vertical-align: middle;
  color: $c-primary-4;
  text-align: center;
}

.l-notification-date {
  font-size: 12px;
  color: $c-secondary-10;
  margin-bottom: 3px;
}

.l-notification-message {
  color: $c-primary-4;
  font-size: 14px;
}

@media only screen and (min-device-width : 600px) {
  .l-notification-date {
    font-size: 14px;
  }

  .l-notification-message {
    font-size: 16px;
  }
}