.l-register-image {
	width: 100%;
	height: auto;
	padding: 10px 40px;
}

#l-register-view-container {
	position: relative;
	overflow: scroll;
	margin-bottom: 60px;
}

#l-register-nav-container {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-top: 15px;
	padding: 12px 30px 0px;
	color: $c-primary-5;
	background: $c-primary-1;
	font-size: 24px;

	#l-register-nav-btns {
		position: relative;
		height: 20px;
	}

	#l-register-back-btn {
		position: absolute;
		top: 0;
		left: 0;
	}

	#l-register-next-btn {
		position: absolute;
		top: 0;
		right: 0;
	}

	#l-register-finish-btn {
		position: absolute;
		top: 0;
		right: 0;
		padding-right: 10px;
	}

	font-family: "Helvetica Neue Thin", arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}

#l-register-path-text {
	font-family: "Helvetica Neue Thin", arial, sans-serif;
	font-style: normal;
	font-weight: normal;

	font-size: 24px;
	color: $c-primary-5;

	margin-top: 40px;
}

#l-register-path-btn-container {
	width: 100%;
	padding: 0px 40px;
	button {
		margin-bottom: 20px;
	}
}

#l-reg-tm-bar-id-form {
	margin-top: 50px;
}

#l-register-bar-id-btn-container {
	width: 100%;
	padding: 0px 60px;
	margin-top: 30px;
}

#l-confirm-profile-header {
	font-family: "Helvetica Neue Thin", arial, sans-serif;
	font-style: normal;
	font-weight: normal;

	width: 100%;
	text-align: center;
	font-size: 30px;
	padding: 16px 0px 10px 0px;

	color: $c-secondary-5;
	background: black;
}

#l-confirm-profile-content {
	background: $c-primary-3;
	padding: 16px 0px 0px;
	position: relative;
	#l-confirm-profile-picture-container {
		width: 100%;
		height: 100px;
		#l-confirm-profile-avatar {
			font-family: "Helvetica Neue Light", arial, sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 22px;
			width: 100px;
			height: 100px;
			background: #bfbfbf;
			color: $c-primary-2;
			text-align: center;
			padding: 10px;
			@include border-radius(100px);
		}

		#l-confirm-profile-avatar-uploaded {
			width: 100px;
			height: 100px;
			background: #bfbfbf;
			text-align: center;
			overflow: hidden;
			@include border-radius(100px);
			img {
				width: 100%;
				height: auto;
				padding: 0;
				margin: 0;
			}
		}
	}

	table {
		width: 100%;
		margin-top: 20px;
		tr {
			display: block;
			width: 100%;
			padding: 12px 0px;
			border-top: 2px solid #3487a1;
		}

		td {
			display: inline-block;
			font-family: "Helvetica Neue Roman", arial, sans-serif;
			font-style: normal;
			font-weight: normal;
			&:first-child {
				font-family: "Myriad Regular", arial, sans-serif;
				width: 40%;
				color: #383d44;
				padding-left: 10px;
			}
		}

		.m-form {
			padding: 0;



			select {
				background: $c-primary-4;
				height: 40px;
				font-size: 16px;
				margin-left: 0;
				border-radius: 2px;
			}
		}
	}
}

#bar-questions-progress {
	text-align: center;
	color: $c-primary-3;
	font-family: "Helvetica Neue Thin", arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}

#bar-questions-header {
	text-align: center;
	width: 100%;
	border-bottom: 1px solid $c-primary-3;
	margin-bottom: 15px;
	padding: 16px 20px;
	h1 {
		font-family: "Helvetica Neue Medium", arial, sans-serif;
		font-style: normal;
		font-weight: thin;

		font-size: 16px;
		color: $c-primary-3;

		padding: 0px;
		margin: 0px;
	}

	p {
		font-family: "Helvetica Neue Italic", arial, sans-serif;
		font-style: normal;
		font-weight: normal;

		font-size: 14px;
		color: $c-primary-4;

		padding: 0px;
		margin: 0px;
	}
}

.registration-question {
	text-align: center;
	color: $c-primary-3;
	font-family: "Helvetica Neue Thin", arial, sans-serif;
	font-style: normal;
	font-weight: normal;

	.registration-question-question {
		color: $c-primary-4;
		font-size: 24px;
		margin: 0;
		padding-top: 18px;
	}

	.registration-question-instruction {
		color: $c-primary-4;
		font-size: 20px;
		margin: 0;
		padding: 0;
	}

	form {
		margin-top: 20px;
	}

	label {
		text-align: left;
		display: block;
		margin-left: 30px;
	}
}

.bar-question-multiple {
	label {
		margin-bottom: 20px;
		font-size: 18px;
	}

	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		width: 100%;
	}

	input[type="checkbox"] + span {
		display: inline-block;
		width: 24px;
		height: 24px;
		margin: -3px 8px 0px 0px;
		vertical-align: middle;
		background: transparent;
		border: 1px solid $c-primary-3;
		@include border-radius(16px);
	}

	input[type="checkbox"]:checked + span {
		background: $c-primary-3;
	}
}

.bar-question-multiple-other {
	label {
		margin-bottom: 20px;
		font-size: 18px;
	}

	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		width: 100%;
	}

	input[type="checkbox"] + span {
		display: inline-block;
		width: 24px;
		height: 24px;
		margin: -3px 8px 0px 0px;
		vertical-align: middle;
		background: transparent;
		border: 1px solid $c-primary-3;
		@include border-radius(16px);
	}

	input[type="checkbox"]:checked + span {
		background: $c-primary-3;
	}

	input[type="text"] {
		width: 150px;
		height: 30px;
		color: $c-primary-1;
		border-radius: 2px;
		border: none;
		outline: none;
		background: $c-primary-4;
		padding-left: 20px;
		font-size: 16px;
	}

	#multiple-o-label {
		display: inline-block;
		float: left;
	}

	#multiple-o-text {
		display: inline-block;
	}

	#multiple-o {
		width: 32%;
	}
}

.bar-question-radio {
	label {
		margin-bottom: 20px;
		font-size: 18px;
	}

	input[type="radio"] {
		position: absolute;
		opacity: 0;
		width: 100%;
	}

	input[type="radio"] + span {
		display: inline-block;
		width: 24px;
		height: 24px;
		margin: -3px 8px 0px 0px;
		vertical-align: middle;
		background: transparent;
		border: 1px solid $c-primary-3;
		@include border-radius(16px);
	}

	input[type="radio"]:checked + span {
		background: $c-primary-3;
	}
}

.bar-question-radio-other {
	label {
		margin-bottom: 20px;
		font-size: 18px;
	}

	input[type="radio"] {
		position: absolute;
		opacity: 0;
		width: 100%;
	}

	input[type="radio"] + span {
		display: inline-block;
		width: 24px;
		height: 24px;
		margin: -3px 8px 0px 0px;
		vertical-align: middle;
		background: transparent;
		border: 1px solid $c-primary-3;
		@include border-radius(16px);
	}

	input[type="radio"]:checked + span {
		background: $c-primary-3;
	}

	input[type="text"] {
		width: 170px;
		height: 30px;
		color: $c-primary-1;
		border: none;
		background: $c-primary-4;
		padding-left: 20px;
		font-size: 16px;
	}

	#radio-o-label {
		display: inline-text;
		float: left;
	}

	#radio-o-text {
		display: inline-text;
	}

	#radio-o {
		width: 25%;
	}
}

.bar-question-text {
	input[type="text"] {
		width: 200px;
		height: 30px;
		color: $c-primary-1;
		border: none;
		background: $c-primary-4;
		padding-left: 15px;
		font-size: 16px;
	}

	.bar-question-percentage-label {
		text-align: center;
		margin: 0;
	}

}

.l-reg-bar-id-error {
	height: 14px;
	font-size: 14px;
	color: red;
	text-align: center;
}

#questions-intro-copy {
	text-align: center;
	margin: 0px 20px;
	p {
		font-family: "Helvetica Neue Thin", arial, sans-serif;
		font-weight: normal;
		font-style: normal;
		color: $c-primary-4;
		font-size: 24px;
	}
}

.questions-intro-btn-container {
	padding: 0px 40px;
}

.m-twitter-row, .m-facebook-row {
	padding: 0px;
	div {
		float: right;
		display: inline-block;
		font-size: 12px;
	}
	.m-btn {
		margin: 0px;
		font-size: 14px !important;
		width: 150px;
	}
}

@media only screen and (min-device-width : 600px) {
	#l-register-bar-id-btn-container {
		width: 50%;
	}

	#l-reg-tm-bar-id-form {
		width: 50% !important;
	}

	#barQuestionRadio, #barQuestionRadioOther {
		width: 53%;
	}

	#barQuestionPercentage {
		width: 100%;
	}

	.bar-question-radio, .bar-question-multiple,
	.bar-question-multiple-other, .registration-question {
		label {
			font-size: 24px;
		}
	}

	.bar-question-multiple-other {
		#multiple-o {
			width: 18%;
		}
	}

	.bar-question-radio-other {
		#radio-o {
			width: 15%
		}
	}
}
