// ********** TAFFER TIPS PAGE ************
#l-taffer-tips {
  width: 100%;
  height: 100%;
}

#l-tips-container {
  color: $c-primary-4;
}

.l-taffer-tip {
  width: 100%;
  height: auto;
  padding: 20px;
}

.l-taffer-tip:not(:first-child) {
  border-top: 1px solid $c-secondary-10;
}

.l-taffer-tip:not(:last-child) {
  border-bottom: 1px solid black;
}

.l-tip-header {
  margin-bottom: 15px;
  display: table;
}

.l-tip-icon-container {
  width: 30px;
  height: 30px;
  display: table-cell;
}

.l-bulb-icon {
  background-image: url(icons/bulb_icon.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.l-tip-header-text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  font-family: "Helvetica Neue Bold Italic", arial, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}

.l-tip-text {
  font-size: 14px;
}

.l-tip-button-container {
  margin-top: 10px;
  div {
    display: inline-block;
    width: 50%;
    font-size: 10px;
    white-space: nowrap;
    font-family: "Helvetica Neue Roman";
    padding: 10px 5px;
  }

  div:first-of-type {
    margin-right: 5px;
  }
}

#l-tip-separator {
  width: 100%;
  height: 50px;
  background-color: rgb(22, 22, 22);
}

@media only screen and (min-device-width : 600px) {
  .l-tip-header-text {
    font-size: 18px;
  }

  .l-tip-text {
    font-size: 16px;
  }
}
