//********* LANDING PAGE TIP STYLES *******
.l-taffer-tip-leader {
  padding: 0 !important;

  .l-taffer-leader-container {
    width: 90%;
    height: 100%;
    max-width: 260px;
  }

  .l-taffer-text {
    font-family: "Helvetica Neue Medium Italic", arial, sans-serif;
    font-size: 40px;
    float: right;
  }

  .l-taffer-text:first-of-type {
    margin-top: 10px;
  }

  .l-taffer-text:last-of-type {
    clear: right;
    margin-right: 30px;
  }

  img {
    width: 45%;
    height: auto;
    position: absolute;
    margin-top: 10px;
  }
}

.taffer-tip {
  img {
    float: right;
    width: 45%;
    height: auto;
  }

  div {
    text-align: center;
    height: 100%;
  }

  .taffer-tip-text-container {
    display: table;

    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.taffer-tip:nth-child(odd) {
  img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    float: left;
  }
}

//********* LANDING PAGE PROMO STYLES *******
#l-promo-leader-container {
  display: table;
  width: 100%;
  height: 100%;
}

#l-promo-img {
  width: 40%;
  display: table-cell;
  padding: 10px 0 0 10px;

  img {
    width: 100%;
    height: auto;
  }
}

#l-promo-text {
  width: 52%;
  display: table-cell;
  vertical-align: middle;
  margin-top: 45px;
  font-family: "Helvetica Neue Medium Italic", arial, sans-serif;
  font-size: 22px;
  color: white;
  text-align: center;
}

.l-menu-arrow-container {
  width: 5%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
   div {
     width: 25px;
     height: 25px;
   }
}

//********* LANDING PAGE PARTENDER STYLES *******
#l-partender-leader-container {
  display: table;
  width: 100%;
  height: 100%;
}

#l-partender-img {
  padding: 6px 5px 5px 5px;
  width: 60%;
  display: table-cell;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

#l-partender-text {
  width: 30%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: "Helvetica Neue Medium Italic", arial, sans-serif;
  color: white;
  font-size: 24px;
}

@media only screen and (min-device-width : 600px) and (max-device-width : 699px) {
  //********* LANDING PAGE TIP STYLES *******
  .l-taffer-tip-leader {
    padding: 0 !important;

    .l-taffer-leader-container {
      max-width: 350px;
    }

    .l-taffer-text {
      font-family: "Helvetica Neue Medium Italic", arial, sans-serif;
      font-size: 54px;
      float: right;
    }

    .l-taffer-text:first-of-type {
      margin-top: 12px;
    }

    .l-taffer-text:last-of-type {
      clear: right;
      margin-right: 30px;
    }

    img {
      width: 35%;
      margin-top: 5px;
    }
  }

  .taffer-tip {
    img {
      width: 35%;
    }

    .taffer-tip-text-container {
      span {
        font-size: 18px;
      }
    }
  }


  //********* LANDING PAGE PROMO STYLES *******
  #l-promo-img {
    width: 35%;
    padding: 10px 0 0 30px;
  }

  #l-promo-text {
    font-size: 48px;
    text-align: center;
  }

  //********* LANDING PAGE PARTENDER STYLES *******
  #l-partender-img {
    width: 40%;
  }

  #l-partender-text {
    font-size: 48px;
  }

}

@media only screen and (min-device-width : 700px) {
  //********* LANDING PAGE TIP STYLES *******
  .l-taffer-tip-leader {
    padding: 0 !important;

    .l-taffer-leader-container {
      max-width: 350px;
    }

    .l-taffer-text {
      font-family: "Helvetica Neue Medium Italic", arial, sans-serif;
      font-size: 54px;
      float: right;
    }

    .l-taffer-text:first-of-type {
      margin-top: 12px;
    }

    .l-taffer-text:last-of-type {
      clear: right;
      margin-right: 30px;
    }

    img {
      width: 27%;
      margin-top: 5px;
    }
  }

  .taffer-tip {
    img {
      width: 35%;
    }

    .taffer-tip-text-container {
      span {
        font-size: 18px;
      }
    }
  }


  //********* LANDING PAGE PROMO STYLES *******
  #l-promo-img {
    width: 21%;
    padding: 10px 0 0 30px;
  }

  #l-promo-text {
    font-size: 48px;
    text-align: center;
  }

  //********* LANDING PAGE PARTENDER STYLES *******
  #l-partender-img {
    width: 27%;
  }

  #l-partender-text {
    font-size: 48px;
  }

}
