<div id="l-questions" class="view" ng-init="help()">
  <sub-header subtitle="Q&amp;A WITH JON TAFFER"></sub-header>

  <div id="l-questions-container">
    <div id="l-questions-instructions">
      <p>Tap Questions to see Jon's Responses</p>
    </div>

    <div class="l-question" ng-repeat="question in questions" ng-click="viewQuestion(question)">
      <div class="l-question-text">
        {{question.question | truncate:true:140:'...?'}}
      </div>

      <div class="l-question-meta">
        Submitted by: {{question.by.firstName}} {{question.by.lastName.charAt(0)}}
        <span>{{question.created | date:'shortDate'}} &#183;
        {{question.created | date:'shortTime'}}</span>
      </div>
    </div>
  </div>

</div>
