.schedule {
  padding-bottom: 75px;
}
.sch-footer-nav {
  border-top:1px solid $sch-light-blue;
  border-bottom:1px solid $sch-light-blue;
  background: $sch-light-gray;
  .sch-nav-col {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    color: $sch-light-blue;
  }
  .sch-nav-col-mid {
    border-right: 1px solid $sch-light-blue;
    border-left: 1px solid $sch-light-blue;
  }
  .sch-nav-btn {
    padding: 15px 0;
    margin: 0;
  }
  .sch-nav-btn-selected {
    background: $sch-light-blue;
    color: $sch-light-gray;
  }
}
