@mixin horizontal-gradient($colorLeft,$colorMiddle,$colorRight) {
  background: $colorLeft; /* Old browsers */
  background: -moz-linear-gradient(left,  $colorLeft 0%, $colorLeft 48%, $colorLeft 48%, $colorMiddle 60%, $colorRight 70%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$colorLeft), color-stop(48%,$colorLeft), color-stop(48%,$colorLeft), color-stop(60%,$colorMiddle), color-stop(70%,$colorRight)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  $colorLeft 0%,$colorLeft 48%,$colorLeft 48%,$colorMiddle 60%,$colorRight 70%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  $colorLeft 0%,$colorLeft 48%,$colorLeft 48%,$colorMiddle 60%,$colorRight 70%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  $colorLeft 0%,$colorLeft 48%,$colorLeft 48%,$colorMiddle 60%,$colorRight 70%); /* IE10+ */
  background: linear-gradient(to right,  $colorLeft 0%,$colorLeft 48%,$colorLeft 48%,$colorMiddle 60%,$colorRight 70%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorLeft', endColorstr='$colorRight',GradientType=1 ); /* IE6-9 */
}