$sch-font-family: "Helvetica Neue Roman";

$sch-font-size-base: $body-font-size;
$sch-font-size-jumbo: 40px;
$sch-font-size-xxxl: 34px;
$sch-font-size-xxl: 24px;
$sch-font-size-xl:  22px;
$sch-font-size-lg:  20px;
$sch-font-size-md:  18px;
$sch-font-size-sm:  14px;
$sch-font-size-xs:  12px;
$sch-font-size-xxs:  10px;
$sch-font-size-xxxs:  8px;
$sch-font-size-micro:  6px;

// Theme Color Palette
$sch-charcoal: #202020; // Dark Grey/Charcoal
$sch-light-gray: #404143; // Light Grey
$sch-lighter-gray: #4c4e50; //Lighter Grey
$sch-light-blue: #29bbea; // Light Blue
$sch-smoke-white: #cdcdcd; // Smoke White
$sch-lighter-blue: #7da9bc; // Lighter Blue

$sch-white: #ffffff; // White
$sch-dark-blue: #1e759e; // Dark Blue
$sch-off-red: #f0483e; // Hazy/Off Red
$sch-green: #3ed229; // Green
$sch-light-green: #2EEA67; //Light Green
$sch-black: #000000;
$sch-orange: #f9a927;
$sch-red: #fc1302;