<div id="l-my-team">
  <div class="m-page-header">
    <p>FAQ</p>
  </div>

  <div class="l-landing-faq-container l-landing-temp">
  	<section id="l-faq-admin" ng-show="!auth.hasRole('owner') || !auth.hasRole('manager')">
  		<dt><h4>Profile</dt></h4>
  		<dd>
			How do I see my Badges?
				<li>Your badges are available under your Profile, which can be accessed from the main dashboard.</li>
			</dd>
			<br>
			<dd>
			How do I change my Profile Picture?
				<li>You can change your profile picture by navigating to your profile and tapping the existing photo or blank circle.</li>
			</dd>
			<br>
			<dd>
			Where can I edit my address, email, phone, etc.?
				<li>Personal information can be edited under the Profile menu.</li>
			</dd>
			<br>
			<dd>
			Where do I see my bar’s Bar Code?
				<li>The Bar Code is visible under your Profile</li>
			</dd>
			<br>
			<dd>
			Where can I edit my bar’s information?
				<li>Bar information can be edited under the Profile menu.</li>
			</dd>
			<br>
			<dt><h4>Sales</dt></h4>
			<dd>Why aren’t my sales trends updating?
				<li>Ensure that all information has been properly submitted. If it has been, we may not have enough sales and customer data collected from you to display your trends quite yet!</li>
			</dd>
			<br>

			<dt><h4>Promotions</dt></h4>
			<dd>
			How do I create a custom promotion?
				<li>You can create a custom promotion by pressing the “+” button on the main promotions page.</li>
			</dd>
			<br>
			<dd>
			How do I customize existing and recommended promotions?
				<li>Simply choose the promotion and most fields are editable.</li>
			</dd>
			<br>
			<dd>
			How do I remove a promotion?
				<li>After selecting a promotion, you can press the “trash can” button to delete.</li>
			</dd>
			<br>
			<dd>
			How do I edit an already scheduled promotion?
				<li>After selecting a promotion, you can press the “notepad” button to edit.</li>
			</dd>
			<br>
			<dd>
			How do I share my promotion on social media?
				<li>The app will prompt you to share your promotion after scheduling it. If you change your mind, you can edit a promotion’s social share options by simply pressing that promotion. </li>
			</dd>
			<br>
			<dd>
			<dt><h4>Scheduler</dt></h4>
			<dd>
			How do I see my old/future schedules?
				<li>Under the Scheduler menu, simply press the arrows at the top of the screen to navigate from week to week.</li>
			</dd>
			<br>
			<dd>
			How do I know if my schedule is published?
				<li>“Published” will appear in green under the Date of the selected schedule. </li>
			</dd>
			<br>
			<dd>
			How do I swap shifts with someone?
				<li>Press the “+” button on the Scheduler menu. Then, select your shift and select the employee you wish to trade with. After that, select which of their shifts you want to swap for then press submit.</li>
			</dd>
			<br>
			<dd>
			How do I request time off?
				<li>Press the “+” button on the Scheduler menu.  Press “Request Time Off” and select the hours or days you wish to request.</li>
			</dd>
			<br>


			<dt><h4>My Team</dt></h4>
			<dd>
			How do I remove an employee from my bar’s network?
				<li>Go to “My Team”, choose employee, and press “deactivate”</li>
			</dd>
			<br>
			<dd>
			How do I change an employee’s permissions?
				<li>Only an Admin may edit an employee’s permissions. Navigate to “My Team”, choose a team member, and press “Set Permissions”!</li>
			</dd>
			<br>

			<dt><h4>Log Book</dt></h4>
			<dd>
			Why can’t my manager access the Logbook?
				<li>Check their permissions to ensure that they are a manager.</li>
			</dd>
			<br>
			<dd>
			How do I mark a Logbook entry as URGENT?
				<li>Simply press the “Urgent” button when submitting a Logbook entry.</li>
			</dd>
			<br>

			<dt><h4>Partender</dt></h4>
			<dd>
			Why can’t I see Partender?
				<li>Partender does not currently have an Android version of their application.  However, they are working on one!</li>
			</dd>
			<br>

			<dt><h4>Courses</dt></h4>
			<dd>
			How do I subscribe and unsubscribe from Taffer TV?
			</dd>
			<br>
			<dd>
			Why can’t I access a course?
				<li>Ensure that you are subscribed to Taffer TV.  If you are, then the course may have been deactivated.</li>
			</dd>
			<br>
			<dd>
			How do I share a course with an employee?
				<li>Simply choose the course, press the “share” button and choose which employees you wish to share the course with. </li>
			</dd>
			<br>

			<dt><h4>Q&A</dt></h4>
			<dd>
			Does Jon really answer my questions submitted in the Q&A section?
				<li>Yes, of course!</li>
			</dd>
  	</section>

  	<section id="l-faq-team-member">
  		<dt><h4>Profile</dt></h4>
  		<dd>
			How do I see my Badges?
				<li>Your badges are available under your Profile, which can be accessed from the main dashboard.</li>
			</dd>
			<br>
			<dd>
			How do I change my Profile Picture?
				<li>You can change your profile picture by navigating to your profile and tapping the existing photo or blank circle.</li>
			</dd>
			<br>
			<dd>
			Where can I edit my address, email, phone, etc.?
				<li>Personal information can be edited under the Profile menu.</li>
			</dd>
			<br>
			<dd>
			Where do I see my bar’s Bar Code?
				<li>The Bar Code is visible under your Profile</li>
			</dd>
			<br>

			<dt><h4>Scheduler</dt></h4>
			<dd>
			How do I see my old/future schedules?
				<li>Under the Scheduler menu, simply press the arrows at the top of the screen to navigate from week to week.</li>
			</dd>
			<br>
			<dd>
			How do I swap shifts with someone?
				<li>Press the “+” button on the Scheduler menu. Then, select your shift and select the employee you wish to trade with. After that, select which of their shifts you want to swap for then press submit.</li>
			</dd>
			<br>
			<dd>
			How do I request time off?
				<li>Press the “+” button on the Scheduler menu.  Press “Request Time Off” and select the hours or days you wish to request.</li>
			</dd>
			<br>

			<dt><h4>My Team</dt></h4>
			<dd>
			How do I remove an employee from my bar’s network?
				<li>Go to “My Team”, choose employee, and press “deactivate”</li>
			</dd>
			<br>

			<dt><h4>Partender</dt></h4>
			<dd>
			Why can’t I see Partender?
				<li>Partender does not currently have an Android version of their application.  However, they are working on one!</li>
			</dd>
			<br>

			<dt><h4>Courses</dt></h4>
			<dd>
			How do I subscribe and unsubscribe from Taffer TV?
			</dd>
			<br>
			<dd>
			Why can’t I access a course?
				<li>Ensure that you are subscribed to Taffer TV.  If you are, then the course may have been deactivated.</li>
			</dd>
			<br>

			<dt><h4>Q&A</dt></h4>
			<dd>
			Does Jon really answer my questions submitted in the Q&A section?
				<li>Yes, of course!</li>
			</dd>
			<br>

			<dt><h4>Messages</dt></h4>
			<dd>
			Why can’t I send a message?
				<li>Messages are meant for managers to communicate with employees.</li>
			</dd>
			<br>

			<dt><h4>Promotions</dt></h4>
			<dd>
			How do I share a promotion on social media?
				<li>Navigate to Scheduler, press the Events tab and choose an event and share from there!</li>
			</dd>
			<br>

  	</section>
  </div>
</div>
