<div id="l-my-team">
  <div class="m-page-header">
    <p>TERMS OF USE</p>
  </div>

  <div class="l-landing-temp">


<dt><h4>GENERAL</h4></dt>
<dd>
	<li>By installing the Application (definitions below) you agree to these terms and conditions of use. Read all terms carefully before agreeing and using the Application.</li>
</dd></br>

<dt><h4>DEFINITIONS</h4></dt>
<dd>
	<li>The User – “you”, “your”</li>
	<li>Taffer Media, Inc. – “we”, “us”, “our”</li>
	<li>Taffer’s Bar HQ – “App”, “Application”</li>
</dd></br>

<dt><h4>AGE RESTRICTION</h4></dt>
<dd>
	<li>You must be at least twenty-one (21) years of age (or of legal drinking age in your place of residence) to use this application. All other accounts will be terminated. </li>
</dd></br>


<dt><h4>CONDITIONS OF USE</h4></dt>
<dd>
	<li>You will not, nor allow third parties on your behalf to (i) make and distribute copies of the Application (ii) attempt to copy, reproduce, alter, modify, reverse engineer, disassemble, decompile, transfer, exchange or translate the Application; or (iii) create derivative works of the Application of any kind whatsoever.  (copied from easyjet t/c: http://www.easyjet.com/en/mobile/mobile-app-terms-and-conditions)</li>
	<li>This application may use online data. You are responsible for any and all data charges, received from your cell phone provider, resulting from use of the Application. </li>
</dd></br>


<dt><h4>SYSTEM REQUIREMENTS</h4></dt>
<dd>
	<li>To use the application, you must have access to a handheld device or tablet running Apple iOS or Android OS, internet access, and must meet the software requirements.</li>
	<li>Software Requirements – Apple iOS 6 or newer, Android OS 4.2 or newer</li>
</dd></br>


<dt><h4>USER GENERATED CONTENT</h4></dt>
<dd>
	<li>While using this Application, you (the User), may create content. By agreeing to these terms, you also agree that this user-generated content may be used by Taffer Media, Inc. in any way. You grant us all rights to this content (non-exclusive) to potentially be used in future campaigns, promotions, marketing, advertising, etc.</li>
	<li>(based off of Dunkin Donuts’ TOS: http://www.dunkindonuts.com/content/dunkindonuts/en/help/eula_iphone.html)</li>
</dd></br>


<dt><h4>PROMOTIONS AND LIABILITY </h4></dt>
<dd>
	<li>Your scheduling and actions within the Promotions section of the Application must coincide with your local laws and regulations. In some areas, certain promotions are not legally allowed. We are not liable for the results of neither Promotions nor any other circumstances that arise from the use of this App. If you are unsure of the legality of performing a promotion at your venue, consult with your legal council. </li>
	<li>In no way are Taffer Media, Inc. or its partners (Taffer TV, Partender, Anheuser-Busch) liable for loss of profit or any other damages resulting from the use of this Application.</li>
</dd></br>

<dt><h4>DATA PROTECTION</h4></dt>
<dd>
	<li>All personal information provided within the Application will be kept secure in accordance with the Taffer’s Bar HQ Privacy Policy. </li>
</dd></br>

<dt><h4>TERMINATION</h4></dt>
<dd>
	<li>These Terms and Conditions apply to you until terminated by either you or  Taffer Media, Inc. We reserve the right to terminate use of the Application at any time and will provide notification of this termination. Upon termination, these Terms and Conditions will expire and all use of the software must cease. </li>
</dd>





  </div>
</div>
