<div class="m-app-header">
	<div class="center">
		{{bar.name | uppercase}}
	</div>
</div>

<div class="m-app-header-nav">
	<div id="header-notifications-icon"
		class="m-notifications-icon m-nav-option"
		ng-show="shouldShowNotificationsButton()"
		ng-click="go('Main.Notifications')">
		<div id="header-notifications-count" ng-show="notificationCount > 0">
			<div>{{notificationCount}}</div>
		</div>
	</div>
	<div id="header-home-icon" class="m-home-icon m-nav-option" ng-show="shouldShowHomeButton()" ng-click="goHome()"></div>
	<div id="header-back-button" class="m-nav-option" ng-show="shouldShowBackButton()" ng-click="back()">Back</div>
	<div id="header-create-icon" class="m-create-icon m-nav-option" ng-show="shouldShowCreateButton()" ng-click="create()"></div>
  	<div id="header-save-button" class="m-nav-option" ng-show="shouldShowSaveButton()" ng-click="save()">Save</div>
	<div id="header-edit-button" class="m-nav-option" ng-show="shouldShowEditButton() && !showDoneButton && showEditButton" ng-click="edit()">Edit</div>
	<div id="header-done-button" class="m-nav-option" ng-show="showDoneButton" ng-click="done()">Done</div>
	<div id="header-skip-button" class="m-nav-option" ng-show="shouldShowSkipButton()" ng-click="skip()">Skip</div>
</div>

<div class="m-app-header-network-error" ng-show="networkError">
	<div>Network Error. You are offline.</div>
</div>

<div id="l-landing-view-container" ui-view="landing"></div>
<div id="l-logbook-view-container" ui-view="logbook"></div>
<div id="l-taffertips-view-container" ui-view="taffertips"></div>
<div id="l-questions-view-container" ui-view="questions"></div>
<div id="l-messages-view-container" ui-view="messages"></div>
<div id="l-promotions-view-container" ui-view="promotions"></div>
<div id="l-myteam-view-container" ui-view="myteam"></div>
<div id="l-notifications-view-container" ui-view="notifications"></div>
<div id="l-schedule-view-container" ui-view="schedule"></div>
<div id="l-sales-view-container" ui-view="sales"></div>
<div id="l-profile-view-container" ui-view="profile"></div>
<div id="l-courses-view-container" ui-view="courses"></div>
<div id="l-preshift-view-container" ui-view="preshift"></div>
<div id="l-sponsor-view-container" ui-view="sponsor"></div>
