<div id="l-myteam-permissions" class="m-blade">
  <blade-header blade-title="MEMBER PROFILE" back="back()"></blade-header>

  <div id="l-permissions-container">
    <div id="l-permissions-avatar-container">
      <div id="l-permissions-avatar">
        <user-avatar avatar-source="{{member.pictureURI}}" avatar-role="{{member.role}}"></user-avatar>
      </div>
    </div>

    <div id="l-permissions">
      <div ng-repeat="(permissionName, permissionValue) in permissions">
        <div class="l-permissions-header">{{permissionName | capitalize}} Permissions</div>
        <div ng-repeat="(permKey, permValue) in permissionValue">
          <div class="l-permissions-row m-form">
            <div class="l-permissions-description">{{permValue.description | capitalize}}</div>
            <div class="m-form-switch">
              <input type="checkbox" name="permInput" class="m-form-switch" ng-model="memberPerm[permissionName][permKey]" ng-click="checkForProperty(permissionName, permKey)">
              <label for="permInput" class="m-switch-taffer l-perm-yes" ng-show="memberPerm[permissionName][permKey]">YES<span></span></label>
              <label for="permInput" class="m-switch-taffer l-perm-no" ng-show="!memberPerm[permissionName][permKey]">NO<span></span></label>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
