<div id="l-my-team" ng-init="help()">
  <div class="m-page-header">
    <p>MY TEAM OVERVIEW</p>
  </div>

  <div id="l-myteam-container">
    <div class="l-myteam-member" ng-repeat="newUser in approvals">

      <div class="l-member-avatar">
        <user-avatar avatar-source="{{newUser.pictureURI}}"
          avatar-role="{{newUser.role}}"></user-avatar>
      </div>

      <div class="l-member-info">
        <div class="l-member-name"
          ng-class="{memberManagerName: member.role.toUpperCase() == 'ADMIN' || member.role.toUpperCase() == 'MANAGER'}">
            {{newUser.firstName | uppercase}} {{newUser.lastName | uppercase}}
        </div>
        <div class="l-member-role">{{newUser.role | uppercase}}</div>
        <div class="clearfix">
          <button class="m-btn-red" ng-click="deny(newUser)">DENY</button>
          <button class="m-btn-green" ng-click="approve(newUser)">APPROVE</button>
        </div>
      </div>

    </div>

    <div class="l-myteam-member" ng-repeat="member in members | orderBy:'firstName'" ng-click="viewProfile(member)">

      <div class="l-member-avatar">
        <user-avatar avatar-source="{{member.pictureURI}}"
          avatar-role="{{member.role}}"></user-avatar>
      </div>

      <div class="l-member-info">
        <div class="l-member-name"
          ng-class="{memberManagerName: member.role.toUpperCase() == 'ADMIN' || member.role.toUpperCase() == 'MANAGER'}">
            {{member.firstName | uppercase}} {{member.lastName | uppercase}}
        </div>
        <div class="l-member-role">{{member.role | uppercase}}</div>
      </div>

    </div>
  </div>

</div>
