<div id="l-myteam-invite" class="m-blade">
  <blade-header blade-title="INVITE MEMBERS" cancel="cancel()" save="save()"></blade-header>

  <div id="l-invite-container">
    <div id="l-invite-input-container" class="center">
      <p>Search your phone for contacts</p>
      <form class="m-form">
        <div class="m-btn center" ng-click="findEmployees()">Find Contacts</div>

        <div class="m-separator">OR</div>
        <p>Type in an email or phone number</p>

        <input type="text"
            name="newContactInfo"
            ng-keypress="addNewContact()"
            ng-model="newContactInfo">
        <div class="m-btn center" ng-click="addContact()">Add</div>
      </form>
    </div>

    <div id="l-selected-container">
      <div class="l-selected-contact clearfix" ng-repeat="(key, value) in selectedContacts">
        <div class="l-selected-contact-info" ng-if="value">{{key}}</div>
        <div class="l-selected-remove" ng-if="value" ng-click="removeSelectedContact(key)">
          <div class="m-trash-icon"></div>
        </div>
      </div>
    </div>
  </div>

</div>
