<div id="l-myteam-contacts" class="m-blade">
  <blade-header blade-title="CONTACTS" cancel="cancel()" done="done()"></blade-header>

  <div id="l-contacts-container">

    <p>{{foundContacts.length}} total contacts found</p>
    <form class="m-form">
      <div id="l-contact-search-container" class="center">
        <div class="m-search-icon"></div><input id="search" name="search" type="text" ng-model="searchText">
      </div>
    </form>

    <div id="l-contacts-data-container">
      <div class="l-contact clearfix" ng-repeat="contact in foundContacts | orderBy:'name.givenName' | filter:searchText">
        <div class="l-contact-name">
          <div>{{contact.name.givenName}} {{contact.name.familyName}}</div>
        </div>
        <div class="l-contact-info" ng-repeat="phone in contact.phoneNumbers">
          <div><input type="checkbox" ng-model="selectedContacts[phone.value]"></div>
          <div>{{phone.value}}</div>
        </div>
        <div class="l-contact-info" ng-repeat="email in contact.emails">
          <div><input type="checkbox" ng-model="selectedContacts[email.value]"></div>
          <div>{{email.value}}</div>
        </div>
      </div>
    </div>

  </div>

</div>
