.m-app-header {
	width: 100%;
	height: $header-height + 2;
	z-index: 900;
	background-color: $c-primary-1;
	position: fixed;
	top: -2px;
	left: 0;
	padding-top: 15px; //iOS5 padding issue

	div {
		width: 55%;
		height: 100%;
		text-align: center;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: white;
		letter-spacing: 1px;
		font-family: "Helvetica Neue Bold Condensed", arial, sans-serif;
		font-size: $header-font-size;
	}
}

.m-app-header-nav {
	width: 100%;
	height: $header-height + 2;
	z-index: 1000;
	position: fixed;
	top: -2px;
	left: 0;
	text-align: center;
	border-bottom: 1px solid $c-secondary-10;

	#header-notifications-icon {
		float: left;
		margin: 10px;
		position: relative;

		#header-notifications-count {
			position: absolute;
			bottom: 12px;
			left: 20px;
			width: 80%;
			height: 23px;
			background-color: $c-secondary-8;
			color: $c-primary-4;
			border-radius: 100%;
			text-align: center;
			display: table;

			div {
				display: table-cell;
				vertical-align: middle;
				font-size: 14px;
				padding-top: 5px;
				padding-left: 2px;
			}
		}
	}

	#header-home-icon {
		float: left;
		margin: 10px;
	}

	.m-nav-option {
		margin: 18px 10px;
		color: $c-primary-3;
		font-size: 18px;
		letter-spacing: 1px;
		font-family: "Helvetica Neue Roman", arial, sans-serif;
		position: relative;
	}

	.m-nav-option:active {
		color: #fff;
	}

	.m-nav-option:before {
		content: ".";
		text-indent:-9999px;
		left:-20px;
		right:-10px;
		bottom:-15px;
		top:-20px;
		position:absolute;
		opacity:0;
		width: 265%;
	}

	#header-back-button {
		float: left;
	}

	#header-edit-button {
		float: right;
	}

	#header-help-button {
		float: right;
	}

	#header-done-button {
		float: right;
	}

	#header-create-icon {
		float: right;
		margin: 10px;
	}
    #header-save-button{
      float: right;
    }

	#header-skip-button {
		float: right;
	}
}

.m-app-header-network-error {
	width: 100%;
	height: 30px;
	background-color: $c-secondary-8;
	position: fixed;
	top: $header-height;
	text-align: center;
	color: white;
	display: table;

	div{
		display: table-cell;
		vertical-align: middle;
	}
}

@media only screen and (min-device-width : 600px) {
	.m-app-header {
		div {
			width: 75%;
		}
	}
}
