.m-course-preview {
  width: 80%;
  height: 125px;
  max-width: 300px;
  display: inline-block;
  text-align: center;

  .m-preview-image {
    position:relative;
  }

  .m-play {
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.7);
  }

  p {
    color: $c-primary-4;
    background-color: rgba(0,0,0,0.5);
    font-family: "Helvetica Neue Medium Condensed", arial, sans-serif;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
