.m-fm-calendar {
	color: $c-primary-4;
	width: 320px;
	height: 100%;
	margin: 0px auto;

	border-bottom: 1px solid $c-primary-2;
	text-align: center;

	.m-fm-cal-header {
		font-family: "Helvetica Neue Thin", arial, sans-serif;
		font-style: normal;
		font-weight: normal;

		font-size: 20px;
	}

	.m-fm-cal-row {
		font-size: 12px;
		td {
			text-align: center;
			vertical-align: middle;
			height: 40px;
			width: 40px;
		}

		.s-inactive {
			color: $c-primary-2;
		}

		.s-selected {
			border: 1px solid $c-primary-3;
            border-radius: 50%;
		}
	}

	.m-fm-cal-btn {
		height: 40px;
		div {
			height: 100%;
		}

		&.m-fm-cal-btn-left {
			div {float:left;}
		}

		&.m-fm-cal-btn-right {
			div {float:right;}
		}
	}

	.m-fm-cal-days {
		background: #333333;
		padding: 0;
		margin: 0;
		border: none;
		td {
			padding: 10px 0px 5px;
			margin: 0;
			border: none;
		}
	}
}
.circle-brder {
	border-radius: 50%;
	border: 1px solid $c-primary-3;
	background: $c-primary-3;
	height: 30px;
	width: 30px;
}

@media only screen and (min-device-width : 600px) {
	.m-fm-calendar {
		width: 400px;

		.m-fm-cal-header {
			font-size: 24px;
		}

		.m-fm-cal-row {
			font-size: 16px;

			td {
				height: 55px;
				font-size: 18px;
			}
		}

		.m-fm-cal-days {
			font-size: 18px;
		}
	}
}
