.m-d3-chart {
	background: $c-primary-2;
	width: 100%;
	height: 200px;

	.m-d3-no-data-message {
		padding-top: 60px;
		font-size: 20px;
		text-align: center;
	}

	path {
		stroke: $c-primary-3;
		stroke-width: 2;
		fill: none;
	}

	.axis {
		text {
			fill: $c-primary-4;
			stroke: $c-primary-4;
			stroke-width: 1;
			font-size: 10px;
		}
	}

	.axis path {
		display: none;
	}

	.y.axis line {
		fill: none;
		stroke: #000;
		stroke-width: 1;
	}

	.x.axis {
		.tick:nth-child(7) {
			text {
				stroke: $c-primary-3;
			}
		}
	}

	.point {
		stroke: $c-primary-3;
		stroke-width: 2;
		fill: $c-primary-2;
	}
}
