.m-message-input {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 67px;
  background-color: $c-primary-6;
  padding: 10px;
  display: table;

  .m-message-icon-container {
    height: 100%;
    display: table-cell;
    vertical-align: bottom;
    padding-right: 10px;
    padding-bottom: 17px;
  }

  .m-message-input-container {
    width: 100%;
    height: 100%;
    display: table-cell;

    section {
      max-height: 100px;
      padding: 4px 5px;
      background-color: $c-primary-4;
      border: 1px solid $c-secondary-10;
      border-radius: 5px;
      outline: 0px solid transparent;
      overflow-y: scroll;
      overflow-x: hidden;
      font-size: 16px;
      -webkit-user-select: auto !important;
      -webkit-touch-callout: default !important;
      margin-bottom: 15px;

      // Selection is disabled in the app but contenteditable
      // adds HTML elements on return/enter. Make sure they can
      // be accessed.
      * {
        -webkit-user-select: auto !important;
        -webkit-touch-callout: default !important;
      }

      img {
        display: block;
        width: 60px;
        height: auto;
      }
    }
  }

  .m-message-send-button {
    height: 100%;
    font-family: "Helvetica Neue Bold", arial, sans-serif;
    display: table-cell;
    vertical-align: bottom;
    padding: 0 0 19px 10px;

    &:active {
      color: #fff;
    }
  }

  .mSendDisabled {
    color: $c-primary-2;

    &:active {
      color: $c-primary-2;
    }
  }

}
