.m-page-header {
  border-top: 1px solid $c-primary-3;
  border-bottom: 1px solid $c-primary-3;
  background-color: $c-primary-2;
  width: 100%;
  height: 30px;
  padding-top: 3px;
  p {
    font-family: "Helvetica Neue Bold", arial, sans-serif;
    color: $c-primary-4;
    text-align: center;
    letter-spacing: 1px;
    margin: 5px;
    font-size: 14px;

    i {
        position: absolute;
        display: inline;
        right: 5px;
        top: px;
    }
}

  &.s-blue {
      p {
          color: $c-primary-3;
      }
  }
}
