.promotions-window-form {
	border-top: 1px solid $c-primary-2;
	text-align: left;
	span {
		color: $c-primary-4;
	}

	padding-top: 20px;

	.m-social-form-days {
		margin-bottom: 10px;
		width: 100%;
	}

	.m-social-form-day-label {
		margin-bottom: 20px;
		font-size: 8px;
		color: $c-secondary-10;
		text-align: center;
	}

	.m-social-form-day {
		text-align: center;
		input[type="checkbox"] {
			position: absolute;
			opacity: 0;
			width: 100%;
		}

		input[type="checkbox"] + span {
			display: inline-block;
			width: 24px;
			height: 24px;
			margin: -3px 0px 0px 0px;
			vertical-align: middle;
			background: transparent;
			border: 1px solid $c-primary-3;
			@include border-radius(16px);
		}

		input[type="checkbox"]:checked + span {
			background: $c-primary-3;
		}
	}

	.m-promotions-window-days-label {
		font-size: 16px;
		margin-bottom: 5px;
		color: $c-primary-4;
		text-align: center;
	}
}

#l-promotions-date {
	height: auto;
}

@media only screen and (min-device-width : 600px) {
	.promotions-window-form {
		.m-promotions-window-days-label {
			font-size: 18px;
		}

		.m-social-form-day {
			input[type="checkbox"] + span {
				width: 30px;
				height: 30px;
			}
		}

		.m-social-form-day-label {
			font-size: 14px;
		}
	}
}
