.m-promotion-new-form {
	.m-promo-new-section {
		border-bottom: 1px solid $c-secondary-10;
		padding: 5px 10px;
		margin: 10px 0px;

		text-align: left;
	}

	textarea {
		width: 100%;
		text-align: left;
		padding: 15px;

		font-size: 16px;

		background: $c-primary-4;
		color: $c-primary-1;
		border-radius: 2px;
		font-family: "Helvetica Neue Roman", sans-serif, arial;
	}

	label {
		color: $c-primary-3;
		font-size: 12px;
		padding: 0px;
	}
}

.m-promotion-new-date, .m-promotion-new-window {
	table {
		margin-left: 0px;
		margin-top: 10px;
		width: 100%;
		text-align: center;
	}

	tbody {
		display: inline-block;
		width: 100%;
		max-width: 300px;
	}

	td {
		padding-left: 10px;
		padding-bottom: 5px;
	}

	.m-new-date-label {
		text-align: right;
		color: $c-secondary-10;
		font-size: 12px;
		vertical-align: middle;
		width: 30%;
	}

	.m-new-date-title {
		position: absolute;
		z-index: 1;
		margin-left: 20px;
		color: $c-primary-3;
		font-size: 12px;
	}

	.m-new-date-content {
		color: $c-primary-4;
		text-align: left;
		font-size: 18px;
		height: 35px;
		width: 70%;
	}
}

.m-promo-new-btn-container {
	width: 70%;
	// padding: 0px 40px 0px 110px;
	text-align: center;

	button {
		font-size: 10px !important;
		display: inline-block;
	}
}

.m-promo-new-last-btn {
	width: 100%;
	padding: 0px 60px;
	margin-bottom: 10px;

	button {
		display: inline-block;
	}
}

@media only screen and (min-device-width : 600px) {
	.m-promotion-new-date, .m-promotion-new-window {
		.m-new-date-label {
			font-size: 16px;
		}

		.m-new-date-label {
			width: 40%;
		}

		.m-new-date-content {
			font-size: 22px;
		}
	}
}