#promotions-date-form-container {
	display: inline-block;
	margin-top: 15px;
}

.promotions-date-form {
	text-align: left;
	span {
		color: $c-primary-3; 
		font-size: 12px;
		display: inline-block;

		width: 40%;
	}

	input {
		text-align: center;
		width: 45%;
		display: inline-block;
		border: none;
		@include border-radius(5px);
	}

	.date-form-entry {
		display: table-row;
		padding: 10px 0px;
		border-bottom: 1px solid $c-primary-2;
	}

	.date-form-cell {
		display: table-cell;
		vertical-align: middle;
	}
}

#l-promotions-date {
	height: auto;
}

@media only screen and (min-device-width : 600px) {
	.promotions-date-form {
		span {
			font-size: 16px;
		}
	}
}
