.m-scheduled-promotion {
	position: relative;
	text-align: left;
	color: $c-primary-4;
	background: black;
	border-bottom: 1px solid $c-secondary-10;

	display: table;

	.m-promotion-content {
		display: table-cell;
		vertical-align: middle;
		padding-left: 10px;
	}

	.m-promotion-title {
		font-family: "Helvetica Neue Bold Condensed", arial, sans-serif;
		font-style: normal;
		font-weight: normal;

		color: $c-primary-4;
		padding-bottom: 3px;
		padding-top: 10px;
		margin: 0px;

		font-size: 16px;

		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		width: 140px;
	}

	.m-promotion-date {
		font-size: 14px;
		padding-top: 0px;
		padding-bottom: 3px;
		margin: 0px;
		color: $c-primary-3;
		span {
			color: $c-primary-4;
			font-size: 10px;
		}
	}

	.m-promotion-time {
		padding-top: 0px;
		padding-bottom: 5px;
		margin: 0px;
		font-size: 14px;
		span {
			font-size: 10px;
		}
	}

	.m-promotion-image {
		display: table-cell;
		width: 20%;
		min-width: 65px;
		vertical-align: middle;
		img {
			vertical-align: middle;
			width: 100%;
			height: auto;
			margin-left: 2px;
		}
	}

	.m-promotion-icons {
		display: table-cell;
		vertical-align: middle;
		padding-left: 10px;
		width: 10%;

		.fa-facebook {
			color: $c-facebook;
		}

		.fa-twitter {
			color: $c-twitter;
		}
	}
}

.m-promotions-btn-container {
	width: 60%;
	max-width: 250px;
	margin: 0px auto 16px auto;
}

@media only screen and (min-device-width : 600px) {
	.m-scheduled-promotion {
		.m-promotion-title {
			width: 390px;
			font-size: 18px;
		}

		.m-promotion-date, .m-promotion-time {
			font-size: 16px;
		}

		.m-promotion-date {
			span {
				font-size: 12px;
			}
		}

		.m-promotion-image {
			width: 15%;
		}
	}
}
