.m-separator {
	overflow: hidden;
	text-align: center;

	font-family: "Helvetica Neue Light", arial, sans-serif;
	font-style: normal;
	font-weight: normal;

	text-align: center;
	color: $c-primary-4;

	margin-top: 12px;

	&:before,
	&:after {
		background-color: $c-primary-4;
		content: "";
		display: inline-block;
		height: 1px;
		position: relative;
		vertical-align: middle;
		width: 50%;
	}
	&:before {
		right: 0.5em;
		margin-left: -50%;
	}
	&:after {
		left: 0.5em;
		margin-right: -50%;
	}
}
