.m-switch {
	color: white;
	position: relative;
	display: inline-block;
	width: 60px;
	height: 24px;
	margin-top: 2px;
	background: url(icons/switch_off.svg);

	&.m-switch-off {
		background: url(icons/switch_off.svg);
	}

	&.m-switch-on {
		background: url(icons/switch_on.svg);
	}

	input {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 500;
		left: 0;
		opacity: 0;
	}

	.status-on-text {
		color: $c-primary-4;
		font-size: 12px;
		text-align: center;
		padding: 0;
		float: left;
		margin-left: 8px;
		margin-top: 5px;
	}

	.status-off-text {
		color: $c-secondary-10;
		font-size: 12px;
		padding: 0;
		text-align: center;
		float: right;
		margin-right: 8px;
		margin-top: 5px;
	}
}

@media only screen and (min-device-width : 600px) {
	.m-switch {
		width: 80px;
		height: 32px;

		.status-on-text, .status-off-text {
			font-size: 16px;
		}
	}
}
