.m-user-avatar {
  text-align: center;
  max-width: 100px;

  div {
    border-radius: 100%;
    border: 1px solid $c-primary-3;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }

  p {
    margin: 3px 0 0 0;
    color: $c-primary-3;
    font-size: 10px;
  }
}

.avatarManager {
  border: 1px solid $c-secondary-8 !important;
}

.avatarManagerName {
  color: $c-secondary-8 !important;
}

.avatarSelected {
  border: 2px solid $c-primary-4 !important;
}
