<div id="blade-header">
	<p>{{bladeTitle}}</p>
</div>

<div id="blade-nav">
	<div id="blade-back" class="blade-text" ng-class="{positionRight: backButtonRight}" ng-click="back()" ng-show="showBack">Back</div>
	<div id="blade-cancel" class="blade-text" ng-class="{positionRight: cancelButtonRight}" ng-click="cancel()" ng-show="showCancel">Cancel</div>
	<div id="blade-save" class="blade-text" ng-class="{positionLeft: saveButtonLeft}" ng-click="save()" ng-show="showSave">Save</div>
	<div id="blade-done" class="blade-text" ng-class="{positionLeft: doneButtonLeft}" ng-click="done()" ng-show="showDone">Done</div>
	<div id="blade-submit" class="blade-text" ng-class="{positionLeft: submitButtonLeft}" ng-click="submit()" ng-show="showSubmit">Submit</div>
</div>
