<div class="m-large-live-tile l-taffer-tip-leader" ng-click="selectTip()">
	<div class="l-taffer-leader-container center">
		<img src="img/taffer/taffer_0.png"/>
		<div class="l-taffer-text">TAFFER</div>
		<div class="l-taffer-text">TIPS</div>
	</div>
</div>

<div class="m-large-live-tile taffer-tip" ng-repeat="tip in tips" repeat-done ng-click="selectTip(tip)">
	<div>
		<img src="img/taffer/taffer_1.png" />
		<div class="taffer-tip-text-container">
			<span>{{tip.tip | truncate:true:75:500}}</span>
		</div>
	</div>
</div>
