<div id="l-taffer-tips" class="view">
  <sub-header subtitle="TAFFER TIPS"></sub-header>

  <div id="l-tips-container">
    <div class="l-selected-tip l-taffer-tip" ng-if="selectedTip">
      <div class="l-tip-header">
        <div class="l-tip-icon-container">
          <div class="l-bulb-icon"></div>
        </div>
        <div class="l-tip-header-text">{{selectedTip.title}}</div>
      </div>

      <div class="l-tip-text">{{selectedTip.tip}}</div>
    </div>
    <div id="l-tip-separator" ng-if="selectedTip"></div>

    <div class="l-taffer-tip" ng-repeat="tip in tips">

      <div class="l-tip-header">
        <div class="l-tip-icon-container">
          <div class="l-bulb-icon"></div>
        </div>
        <div class="l-tip-header-text">{{tip.title}}</div>
      </div>

      <div class="l-tip-text">{{tip.tip}}</div>

      <!-- <div class="l-tip-button-container">
        <div class="m-btn">TAKE A COURSE</div>
      </div> -->

    </div>
  </div>
</div>
