<div id="l-promotions-date" class="m-blade">
	<blade-header blade-title="PROMOTIONS" cancel="cancel()" save="save()"></blade-header>
	<fm-calendar mode="single" selected="selectedDate"></fm-calendar>
	<div id="l-promotions-date-container">
		<div id="promotions-date-form-container">
			<form name="promoDateForm"
				class="promotions-date-form">
				<div class="date-form-entry">
					<span class="date-form-cell">START TIME</span>
					<!-- <input type="time"
						name="promoStartTime"
						ng-model="startTime"
						required> -->
					<div class="date-form-cell">
						<fm-time-input steps="15" ng-model="startTime" existing-time="{{startTime}}"></fm-time-input>
					</div>
				</div>
				<div class="date-form-entry">
					<span class="date-form-cell">END TIME</span>
					<!-- <input type="time"
						name="promoEndTime"
						ng-model="endTime"
						required> -->
					<div class="date-form-cell">
						<fm-time-input steps="15" ng-model="endTime" existing-time="{{endTime}}"></fm-time-input>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
