<div class="m-section" ng-init="help()">
	<div class="m-section-header m-section-header-blue">MY CUSTOM PROMOTIONS</div>
	<div class="m-cus-promotion-list-item"
		ng-repeat-start="p in customPromotions">
		<div class="m-promotion-list-icon"
			ng-click="showDescription(p._id)">
			<div class="m-arrow-btn-icon s-black"
				ng-class="{'s-rotate': shouldShowDescription(p._id), 'show': $first}"></div>
		</div>
		<div class="m-promotion-list-content">
			<p class="m-promotion-list-title">
				{{p.title}}
			</p>
		</div>
		<div class="m-promotion-list-icon">
			<div class="m-add-icon s-black" ng-class="{'add': $first}"
				ng-click="newPromotion(p._id)" ></div>
		</div>
	</div>
	<div class="m-promotion-list-desc"
		ng-show="shouldShowDescription(p._id)"
		ng-repeat-end>
		{{p.description}}
	</div>
</div>

<div class="m-section" ng-show="sponsoredPromotions.length > 0">
	<div class="m-section-header m-section-header-blue">SPONSORED PROMOTIONS</div>
	<div class="m-pre-promotion-list-item"
		ng-repeat-start="p in sponsoredPromotions">
		<div class="m-promotion-list-icon"
			ng-click="showDescription(p._id)">
			<div class="m-arrow-btn-icon"
				ng-class="{'s-blue s-rotate': shouldShowDescription(p._id)}"></div>
		</div>
		<div class="m-promotion-list-content">
			<p class="m-promotion-list-status">
				{{p.status | uppercase}}
			</p>
			<p class="m-promotion-list-title">
				{{p.title}}
			</p>
		</div>
		<div class="m-promotion-list-icon"
			ng-click="newPremadePromotion(p._id)">
			<div class="m-add-icon"></div>
		</div>
	</div>
	<div class="m-promotion-list-desc"
		ng-show="shouldShowDescription(p._id)"
		ng-repeat-end>
		{{p.description}}
	</div>
</div>

<div class="m-section">
	<div class="m-section-header m-section-header-blue">PRE-SET PROMOTIONS</div>
	<div class="m-pre-promotion-list-item"
		ng-repeat-start="p in presetPromotions">
		<div class="m-promotion-list-icon"
			ng-click="showDescription(p._id)">
			<div class="m-arrow-btn-icon"
				ng-class="{'s-blue s-rotate': shouldShowDescription(p._id)}"></div>
		</div>
		<div class="m-promotion-list-content">
			<p class="m-promotion-list-status">
				{{p.status | uppercase}}
			</p>
			<p class="m-promotion-list-title">
				{{p.title}}
			</p>
		</div>
		<div class="m-promotion-list-icon"
			ng-click="newPremadePromotion(p._id)">
			<div class="m-add-icon"></div>
		</div>
	</div>
	<div class="m-promotion-list-desc"
		ng-show="shouldShowDescription(p._id)"
		ng-repeat-end>
		{{p.description}}
	</div>
</div>
