<div id="l-login-layout-container" class="absolute-center" ng-show="showLoginPage">
	<img class="center l-login-image" src="img/logo_big.png" alt="Bar HQ Logo" image-load-dispatcher/>
	<form id="l-login-form" name="loginForm" class="m-form" ng-show="showForm">
		<div class=l-login-error>
			{{message}}
		</div>
		<input type="email"
			name="loginEmail"
			placeholder="Email"
			ng-model="user.email"
			ng-pattern="/^[A-Za-z0-9!#$%&'*+/=?^_`{|}~.-]+@[A-Za-z0-9-]+\.[A-Za-z0-9-]+$/"
			ng-class="{'s-error':
				loginForm.loginEmail.$invalid &&
				loginForm.loginEmail.$dirty}"
			required
			ng-keypress="submitLogin()">
		<input type="password"
			name="loginPassword"
			placeholder="Password"
			ng-model="user.password"
			ng-minlength="8"
			ng-class="{'s-error':
				loginForm.loginPassword.$invalid &&
				loginForm.loginPassword.$dirty}"
			required
			ng-keypress="submitLogin()">
		<span id="l-login-recover-password" ng-click='resetPassword()'>Forgot Password &gt;</span>
	</form>
	<div id="l-login-btn-container" ng-show="showForm">
		<div id="l-login-sign-in">
			<div id="l-login-social-btn-holder">
				<div id="l-login-social-btn-container">
					<span>Sign in With</span>
					<div id="l-login-social-btns">
						<span class="fa-stack fa-lg"
							ng-click="facebook()">
							<i class="fa fa-square fa-stack-2x facebook"></i>
							<i class="fa fa-facebook fa-stack-1x"></i>
						</span>
						<span class="fa-stack fa-lg"
							ng-click="twitter()">
							<i class="fa fa-square fa-stack-2x twitter"></i>
							<i class="fa fa-twitter fa-stack-1x"></i>
						</span>
					</div>
				</div>
			</div>
			<div id="l-login-btn-holder">
				<button name="loginSignIn"
					class="m-btn"
					ng-click="login()">LOG IN</button>
			</div>
		</div>
		<div class="m-separator">
			OR
		</div>
		<button name="loginRegister"
			class="m-btn-grey"
			ng-click="register()">REGISTER</button>
	</div>
</div>
