<img class="center l-login-image" src="img/logo_big.png" alt="Bar HQ Logo" image-load-dispatcher/>
<form id="l-login-form" name="resetPasswordForm" class="m-form" ng-show="showForm">
	<input type="email"
		name="email"
		placeholder="Email"
		ng-model="email"
		ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+\.[a-z0-9-]+$/"
		ng-class="{'s-error':
			resetPasswordForm.loginEmail.$invalid &&
			resetPasswordForm.loginEmail.$dirty}"
		ng-keypress="iForgot()"
		required>
</form>
<div id="l-login-btn-container" ng-show="showForm">
	<button name="loginRegister"
		class="m-btn-grey"
		ng-click="resetPassword()">RESET MY PASSWORD</button>
		<br/>
	<div class="m-separator">
		OR
	</div>
	<br/>
	<button name="loginRegister"
		class="m-btn-grey"
		ng-click="back()">BACK</button>

</div>
