#l-new-message-recipient-container {
  height: 50px;
  padding: 10px 10px 0 10px ;
  border-top: 1px solid $c-primary-3;
  border-bottom: 1px solid $c-primary-3;
  display: table;
  color: $c-primary-4;
}

#l-new-message-recipients-label {
  display: table-cell;
  padding: 7px 10px 0 0;
  vertical-align: top;
}

#l-new-message-recipients {
  display: table-cell;
  width: 100%;
  height: 25px;
  outline: 0px solid transparent;
  vertical-align: top;
}

#l-new-message-add-icon {
  width: 25px;
  height: 25px;
  margin: 1px 0 5px 10px;
  div {
    background-image: url(icons/add_icon_blue.svg);
    width: 100%;
    height: 100%;
    &:active {
      background-image: url(icons/add_icon_active.svg);
    }
  }
}

.l-selected-recipient {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}

.l-selected-recipient-name-container {
  display: table;
}

.l-selected-recipient-name {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: $c-primary-4;
  padding: 5px 10px 0;
  border: 1px solid $c-primary-3;
  border-radius: 50px;
  span {
    color: $c-primary-3;
    padding-left: 10px
  }

  &:active {
    background-color: $c-primary-3;
    color: $c-primary-2;
    span {
      color: $c-primary-2;
    }
  }
}
