<div class="pageHeader">View Tips</div>

<div align="center">
	<form>
		<div class="inlineDiv blackBlock">
			<div "text-align:center">Category: </div>
			<br/>
			<select ng-model="tipCategory">
				<option value="">-- All --</option>
				<option ng-repeat="(key, value) in categories" value="{{key}}">
				{{key}}
			</select>
			<br/>
			<br/>
			<div>
				<input type="submit" value="Get Tips" ng-click="getTips();">
			</div>
			<br/>
			<hr/>
			<span class="smallText">CLICK TIP TO EDIT.</span>
		</div>
	</form>
</div>


<div ng-show="tipResults">
Search results for {{category || "All"}}:<br />
</div>

<div class="centerResults">
	<!---User result div-->
	<a href="#/updateTip/{{tip._id}}"  ng-repeat="tip in Results" ng-show="tipResults">
		<div class="inlineDiv userResultDiv blackBlock">
			<div class="inlineDiv">
				<b>Title:</b><br/>
				<p>{{tip.title}}</p>
				<b>Tip:</b><br/>
				<p>{{tip.tip}}</p>
				<p><b>Bar Categories:</b></p>
					<span ng-repeat="barCategory in tip.barCategories">{{barCategory}}, </span>
				<p><b>Categories:<b></p>
					<span ng-repeat="category in tip.categories">{{category}} </span>
				</p>
			</div>  
		</div>
	</a>
</div>