<div id="l-notifications">
  <div class="m-page-header">
    <p>NOTIFICATIONS</p>
  </div>

  <div id="l-notifications-container">
      <div ng-show="notifications.length == 0" class="m-empty-message">
        No New Notifications
      </div>
      <div class="l-notification" ng-repeat="notification in notifications">

        <div class="l-notification-delete" ng-click="toggleNotification(notification)" ng-show="deleting && !isNotificationSelected(notification)">
          <div class="l-delete-notification-icon-container">
            <div class="m-delete-icon"></div>
          </div>
        </div>

        <div class="l-notification-new-indicator">
          <div class="m-notifications-icon" ng-show="notification.status == 'unread'"></div>
          <div ng-hide="notification.status == 'unread'"></div>
        </div>

        <div class="l-notification-text" ng-click="markAsRead(notification)">
          <div class="l-notification-date"><relative-time datetime="{{notification.sendDate}}"></relative-time></div>
          <div class="l-notification-message">{{notification.message}}</div>
        </div>

        <div class="l-notification-delete-active" ng-click="deleteNotification(notification, $index)" ng-show="deleting && isNotificationSelected(notification)">DELETE</div>

      </div>

    </div>
  </div>


</div>
