{% extends 'template.html' %}

{% block content %}

<div style='text-align: left; margin-left: 20px;'>
	<span style='font-size: 22px;'>

		<span style='color: white;'><b>{{ firstName }}</b></span>,<br/>
		<br/>
		<span style='color: white;'>Your password for <span style='color: #33ccff'>Jon Taffer's Bar HQ</span> has been reset.</span><br/>
		<br/>
		<center>
			<span style='color: white;'>Your new password is:</span></br>
			<span style='color: #33ccff'>{{ password }}</span>
		</center>
	</span>
</div>


{% endblock %}