{% extends 'template.html' %}

{% block content %}

<div style='text-align: left; margin-left: 20px;'>
	<span style='font-size: 22px;'>

		<b>{{ firstName }}</b>,<br/>
		<br/>
		You have been invited to join <span style='color: #33ccff'>Jon Taffer's Bar HQ!</span><br/>
		<br/>
		The Manager or Owner of <span style='color: #33ccff'>{{ barName }}</span> is taking your Bar to the next level.<br/>
		<br/>
	</span>
</div>
<img src='{{ baseUrl }}/img/appFeatures.jpg'></br>
		<br/>
<div style='text-align: left; margin-left: 20px;'>
	<span style='font-size: 22px;'>
		<center>
			<span style='font-weight: bold;'>WHEN REGISTERING, INPUT THE CODE<br/>
			<span style='color: #33ccff'>{{ code }}</span></span><br/>
			<span style='font-size: 16px;'>and you're good to go!</span>
		</center><br/>
		<br/>
		Enjoy,</br>
		Jon Taffer
	</span>
</div>


{% endblock %}