<div class="m-modal-overlay"></div>
<div class="m-modal absolute-center">
	<div>
		Please Select a Page from the Dropdown
	</div>
	<div class="m-fb-select">
		<select name="facebookAccountsSelect"
			ng-model="selectedAccount"
			ng-options="account for account in accounts"
			required>
			<option value="">Select Account</option>
		</select>
	</div>
	<button class="m-btn center" ng-click="linkAccount()">Link Page</button>
	<div class="m-separator">OR</div>
	<button class="m-btn center" ng-click="linkUser()">Link Personal Account</button>
</div>
