<div class="m-modal-overlay"></div>
<div class="m-modal absolute-center">
  <p>
    Add New Team Members
  </p>
  <p id="l-invite-instructions">
    Send your employees an invite to join Taffer’s Bar HQ through SMS* and/or Email.
    When your team members receive that invite, all they have to do is install the app,
    sign up, and put in your Bar Code! Remember our promise: these phone numbers and
    emails will not be sold, disclosed, or abused in any way. We will only send this one
    time message.
  </p>
  <p id="l-invite-disclaimer">*Standard messaging and/or data rates may apply</p>
  <div class="m-modal-btn-container">
    <button class="m-btn" oc-modal-close>OKAY</button>
  </div>
</div>
