<div class="m-modal-overlay"></div>
<div class="m-modal absolute-center">
	<div class="m-social-schedule-form">
		<!-- Original -->
		<form class="m-social-form">
			<div class="m-social-form-container">
				<table class="m-social-form-days">
					<tr>
						<td class="m-social-form-day"
							ng-repeat="day in weekdays">
							<label>
								<input type="checkbox" ng-model="selectedDays[day]">
								<span></span>
							</label>
						</td>
					</tr>
					<tr>
						<td class="m-social-form-day-label"
							ng-repeat="day in weekdays">
							{{day | uppercase}}
						</td>
					</tr>
				</table>

				<div class="m-social-form-row">
					<div class="m-social-form-item m-form-label-before">
						TIME:
					</div>
					<div class="m-social-form-item">
						<!-- <input type="time" name="socialTime" class="m-form-time" ng-model="time" required> -->
						<fm-time-input steps="15" ng-model="time" existing-time="{{time}}"></fm-time-input>
					</div>
				</div>

				<div class="m-social-form-row">
					<div class="m-social-form-item m-form-label-before">
						SHARE ON:
					</div>
					<div class="m-social-form-item">
						<div class="m-form-switch">
							<input type="checkbox" name="socialFacbook" class="m-form-switch" ng-model="facebook">
							<label for="socialFacebook" class="m-switch-facebook"><span></span></label>
						</div>
					</div>
					<div class="m-social-form-item m-form-label-after">
						Facebook
					</div>
				</div>

				<div class="m-social-form-row">
					<div class="m-social-form-item m-form-label-before"></div>
					<div class="m-social-form-item">
						<div class="m-form-switch">
							<input type="checkbox" name="socialTwitter" class="m-form-switch" ng-model="twitter">
							<label for="socialTwitter" class="m-switch-twitter"><span></span></label>
						</div>
					</div>
					<div class="m-social-form-item m-form-label-after">
						Twitter
					</div>
				</div>
			</div>
		</form>
		<div class="m-social-share-btn-container">
			<button class="m-btn-social-cancel" oc-modal-close>CANCEL</button>
			<button class="m-btn-social-confirm" ng-click="addPost()">{{buttonText | uppercase}}</button>
		</div>
	</div>
</div>
