<div id="l-confirm-profile-header">
	Confirm Profile
</div>
<div id="l-confirm-profile-content">
	<div id="l-confirm-profile-picture-container"
		class="enable-click"
		ng-model="file"
		on-success="imageSuccess({uri: uri})"
		fm-image-upload>
		<div id="l-confirm-profile-avatar"
			class="center"
			ng-hide="user.pictureURI">
			Add <br> Picture <br> +
		</div>
		<div id="l-confirm-profile-avatar-uploaded"
			class="center"
			ng-show="user.pictureURI">
			<img alt="User Profile Photo"
				ng-src="{{profilePicture()}}"
				ng-show="user.pictureURI"/>
		</div>
	</div>
	<table>
		<tr>
			<td>Name</td>
			<td>{{user.firstName}} {{user.lastName}}</td>
		</tr>
		<tr>
			<td>Role</td>
			<td>{{user.role}}</td>
		</tr>
		<tr>
			<td>Bar ID</td>
			<td>{{bar.code}}</td>
		</tr>
		<tr>
			<td>Location</td>
			<td>
				{{bar.name}} <br>
				{{bar.streetAddress}} <br>
				{{bar.city}} {{bar.state}} {{bar.zipcode}}<br>
			</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>{{user.email}}</td>
		</tr>
		<tr class="m-twitter-row">
			<td>Twitter</td>
			<td>
				<button class="m-btn"
					ng-click="linkTwitter()"
					ng-show="!twitterError && !twitterSuccess">
					Link Twitter
				</button>
				<div class="fa fa-check" ng-show="twitterSuccess"></div>
				<div ng-show="twitterError">
					Error linking the account.
				</div>
			</td>
		</tr>
		<tr class="m-facebook-row">
			<td>Facebook</td>
			<td>
				<button class="m-btn"
					ng-click="linkFacebook()"
					ng-show="!fbError && !fbSuccess">
					Link Facebook
				</button>
				<div class="fa fa-check" ng-show="fbSuccess"></div>
				<div ng-show="fbError">
					Error linking the account.
				</div>
			</td>
		</tr>
	</table>
</div>
