<div class="pageHeader">
	Update Ad
</div>

<div align="center">

	<div class="inlineDiv">
		<div class="blackBlock">
			<div class="inlineDiv">
				<form class="ads">
					<div>
						Type: <br/>
						<select ng-model="type" style="width:100px">
							<option value="">-- Select --</option>
							<option value="{{type}}" ng-repeat="type in allTypes">{{type}}
						</select>
					</div>
					<br/>
					<b>Image:</b><br/>
						<img ng-src="{{image}}">
					<br/>
					<br/>
					<div>
						Change image? (optional)<br/>
						<input type="file" accept="image/x-png, image/jpeg" file-input="images" />
					</div>
					<br/>
					<div>
						States:<br/>
						<div>
							<input type="checkbox" value="false" ng-model="allStates">All
						</div>
						<div ng-repeat="(key, value) in states" style="display:inline-block;width:65px;text-align:left;">
							<input type="checkbox" value="{{value}}" ng-model="states[key]">{{key}}&nbsp;
						</div>
					</div>
					<br>
					<div>
						Created: {{created}}
					<br/>
					<br/>
					<a href="#/viewAds"><input type="submit" value="Back"></a>
						<input type="submit" value="Update Ad" ng-click="updateAd()">
					</div>
				</form>
				<div ng-show="finished">
					<h3 style="color:#b2b4b3">{{finished}}</h3>
				</div>
			</div>
		</div>
	</div>
</div> 