<div id="l-logbook-entry-view">
  <sub-header subtitle="VIEW BY THREAD"></sub-header>

  <div id="l-logthread-container">

    <div id="l-logthread-message-container">
      <div id="l-logthread-avatar-container">
        <user-avatar avatar-source="{{thread.entries[0].by.pictureURI}}"
          avatar-first-name="{{thread.entries[0].by.firstName}}"
          avatar-last-name="{{thread.entries[0].by.lastName}}"
          avatar-role="{{thread.entries[0].by.role}}"
          ng-show="thread.entries[0].by">
        </user-avatar>
      </div>
      <div id="l-logthread-title">
        {{thread.title | uppercase}}
        <br />
        <relative-time class="l-logthread-datetime" datetime="{{thread.created}}"></relative-time>
      </div>
      <div class="l-logthread-icon-container">
        <div class="m-camera-icon l-logthread-button"
          ng-show="thread.entries && thread.entries[0].imageKey"
          ng-click="viewImage(thread.entries[0])">
        </div>
      </div>
      <div id="l-logthread-message">
        {{thread.entries[0].message}}
      </div>
    </div>

      <div class="l-logthread-button-container">
        <div class="m-btn l-logthread-button center" ng-show="shouldShowReplyButton()" ng-click="scrollToBottom()">REPLY</div>
      </div>
  </div>

  <div id="l-logthread-replies-container">
    <div class="l-logthread-reply" ng-repeat="entry in thread.entries" ng-if="$index > 0">
      <div class="l-logthread-reply-avatar-container">
        <user-avatar avatar-source="{{entry.by.pictureURI}}"
          avatar-first-name="{{entry.by.firstName}}"
          avatar-last-name="{{entry.by.lastName}}"
          avatar-role="{{entry.by.role}}"
          ng-show="entry.by">
        </user-avatar>
      </div>
      <div class="l-logthread-reply-message">
        {{entry.message}}
        <p class="l-logthread-datetime">{{entry.created | date: 'short'}}</p>
        <div class="l-logthread-icon-container">
          <div class="m-camera-icon" ng-show="entry.imageKey" ng-click="viewImage(entry)"></div>
        </div>
      </div>
    </div>
    <div class="l-logthread-reply">
      <div class="l-logthread-reply-avatar-container">
        <user-avatar avatar-source="{{auth.getUser().pictureURI}}"
          avatar-first-name="{{auth.getUser().firstName}}"
          avatar-last-name="{{auth.getUser().lastName}}"
          avatar-role="{{auth.getUser().role}}"
          ng-hide="reply.imageKey">
        </user-avatar>
        <div id="l-reply-picture-uploaded" ng-show="reply.imageKey">
          <img alt="Log Book Photo"
            ng-src="{{reply.imageKey}}"
            ng-show="reply.imageKey"/>
        </div>
      </div>

      <div class="l-logthread-reply-message">
        <textarea rows='4' ng-model="reply.message"></textarea>
        <div class="l-reply-button-container">
          <div id="l-logthread-image-button"
              class="m-btn l-logthread-button enable-click"
              ng-model="file"
              on-success="imageSuccess({uri: uri})"
              fm-image-upload>
              ADD IMAGE
          </div>
          <div class="m-btn l-logthread-button" ng-click="saveReply()">SAVE</div>
        </div>
      </div>
      </div>
    </div>
  </div>

</div>
