<div class="pageHeader">View / Edit Admin Account</div>

<div ng-hide="adminData._id" align="center">
	Sorry, no corresponding user was found.
</div>

<div ng-show="adminData._id" align="center">
	<div class="inlineDiv">
		<div class="blackBlock">

			<div class="inlineDiv">
				<image src="imgs/noImage.jpg" width="100">
			</div>

			<div class="inlineDiv" >
				<table>
					<tr><td><b>Firstname: </b></td><td><input type="text" ng-model='adminData.firstName'></td></tr>
					<tr><td><b>Lastname: </b></td><td><input type="text" ng-model='adminData.lastName' class="blockInputs"></td></tr>
					<tr><td><b>Email: </b></td><td><input type="text" ng-model='adminData.email' class="blockInputs"></td></tr>
					<tr><td><b>Password: </b></td><td><input type="text" ng-model='adminData.password' class="blockInputs"></td></tr>
				</table>
				<div class="smallText" align="right">
					Locked: {{adminData.locked}}<input type="checkbox" ng-model="adminData.locked">
				</div>
			</div>
			
			<hr />
	
			<span class="midText"> <b>Admin ID: </b>{{adminData._id}}</span>
		</div>

		<div ng-show="updatedText" style="margin-bottom:10px; text-align:center; color:red;">
			{{updatedText}}
		</div>
		
		<div align="center">
			<input type="submit" value="Save Changes" ng-click="updateAdmin()"><br /><br />
			<span class="smallText">Leave password feild blank to retain current password.</span>
		</div>
	</div>

	<div class="inlineDiv" style="max-width:280px">
		<div class="blackBlock" >

			<u><b>Account Permissions</b></u><br />
			<div class="midText inlineDiv" style="text-align:left; margin-top:10px; margin-right:10px; width:100%;" ng-repeat="(name, permission) in adminData.permissions">
				<b><u>{{name | capitalize}}:</u></b><br />

				<div class="inlineDiv smidText" ng-repeat="(type, value) in permission" style="margin-left:-5px; margin-bottom:-12px;">
					{{permissions[name][type]}}
					<input type="checkbox" ng-model="adminData.permissions[name][type]">
				</div>
				
			</div>

		</div>
	</div>

</div>