<div class="m-blade m-sales-trends" ng-init="help()">
	<blade-header blade-title="EDIT SALES" back="back()"></blade-header>
	<sub-header subtitle="TOTAL SALES" bluetext="true"></sub-header>
	<table class="m-sales-trends-table">
		<tr class="m-sales-trends-row">
			<td class="m-sales-trends-label">
				<p>
					Top Day of Sales
				</p>
			</td>
			<td class="m-sales-trends-data">
				<p class="m-sales-trends-date">
					{{topDay().date | date:"EEEE  MMMM d, yyyy"}}
				</p>
				<p class="m-sales-trends-amount">
					{{topDay().values | currency:"$"}}
				</p>
			</td>
		</tr>
		<tr class="m-sales-trends-row">
			<td class="m-sales-trends-label">
				<p>
					Worst Day of Sales
				</p>
			</td>
			<td class="m-sales-trends-data">
				<p class="m-sales-trends-date">
					{{worstDay().date | date:"EEEE  MMMM d, yyyy"}}
				</p>
				<p class="m-sales-trends-amount">
					{{worstDay().values | currency:"$"}}
				</p>
			</td>
		</tr>
		<tr class="m-sales-trends-row">
			<td class="m-sales-trends-label">
				<p>
					Average Daily Sales
				</p>
			</td>
			<td class="m-sales-trends-data">
				<p class="m-sales-trends-amount">
					{{avgDaily() | currency:"$"}}
				</p>
			</td>
		</tr>
		<tr class="m-sales-trends-row">
			<td class="m-sales-trends-label">
				<p>
					Average Weekly Sales
				</p>
			</td>
			<td class="m-sales-trends-data">
				<p class="m-sales-trends-amount">
					{{avgWeekly() | currency:"$"}}
				</p>
			</td>
		</tr>
		<tr class="m-sales-trends-row">
			<td class="m-sales-trends-label">
				<p>
					Average Monthly Sales
				</p>
			</td>
			<td class="m-sales-trends-data">
				<p class="m-sales-trends-amount">
					{{avgMonthly() | currency:"$"}}
				</p>
			</td>
		</tr>
		<tr class="m-sales-trends-row">
			<td class="m-sales-trends-label">
				<p>
					Average Yearly Sales
				</p>
			</td>
			<td class="m-sales-trends-data">
				<p class="m-sales-trends-amount">
					{{avgYearly() | currency:"$"}}
				</p>
			</td>
		</tr>
	</table>
</div>
