<div id="l-myprofile" class="m-blade view" ng-init="help()">
  <blade-header blade-title="MY PROFILE" save="save()" back="back()"></blade-header>

  <div id="l-myprofile-avatar-container" class="l-myprofile-section">
    <div id="l-myprofile-avatar" class="center" ng-model="file" on-success="imageSuccess({uri: uri})" fm-image-upload>
      <user-avatar ng-hide="imageKey" avatar-source="{{auth.getUser().pictureURI}}" avatar-role="{{auth.getUser().role}}"></user-avatar>
      <div class="m-user-avatar l-preshift-upload" ng-show="imageKey">
        <div>
          <img ng-src="{{imageKey}}"/>
        </div>
      </div>
    </div>
    <div id="l-profile-edit-photo"
        class="center"
        ng-model="file"
        on-success="imageSuccess({uri: uri})"
        fm-image-upload>
        <p>EDIT PICTURE</p>
    </div>
  </div>

  <div id="l-myprofile-badges-container" class="l-myprofile-section" ng-if="auth.getUser().badges.length > 0">
    <div class="l-myprofile-badges" ng-repeat="badge in auth.getUser().badges">
      <img ng-src="http://s3.amazonaws.com/taffer-dev/{{badge.imageKey}}" />
    </div>
  </div>

  <div id="l-myprofile-promotions" class="l-myprofile-section">
     <div>{{auth.getUser().shared.length > 0 ? auth.getUser().shared.length : 0}}</div> <p>Promotions Shared Socially</p>
  </div>

  <div id="l-myprofile-info">
    <form name="myProfileForm" novalidate>
      <table cellspacing="0" id="step1">
        <tr class="l-myprofile-row">
          <td class="l-myprofile-header">
            FIRST NAME
            <span class="l-myprofile-changed" ng-show="isUserChanged(myProfileForm.firstName)">*</span>
          </td>
          <td>
            <input id="l-myprofile-firstName"
              type="text"
              name="firstName"
              ng-model="tempUser.firstName"
              ng-class="{error: myProfileForm.firstName.$invalid}"
              ng-keypress="submitInfo()"
              required>
          </td>
        </tr>
        <tr class="l-myprofile-row">
          <td class="l-myprofile-header">
            LAST NAME
            <span class="l-myprofile-changed" ng-show="isUserChanged(myProfileForm.lastName)">*</span>
          </td>
          <td>
            <input id="l-myprofile-lastName"
              type="text"
              name="lastName"
              ng-model="tempUser.lastName"
              ng-class="{error: myProfileForm.lastName.$invalid}"
              ng-keypress="submitInfo()"
              required>
          </td>
        </tr>
        <tr class="l-myprofile-row">
          <td class="l-myprofile-header">
            EMAIL
            <span class="l-myprofile-changed" ng-show="isUserChanged(myProfileForm.email)">*</span>
          </td>
          <td>
            <input id="l-myprofile-email"
              type="email"
              name="email"
              ng-model="tempUser.email"
              ng-class="{error: myProfileForm.email.$invalid}"
              ng-keypress="submitInfo()"
              required>
          </td>
        </tr>
        <tr class="l-myprofile-row">
          <td class="l-myprofile-header">
            PASSWORD
          </td>
          <td>
            <input id="l-myprofile-password"
              type="password"
              name="password"
              ng-model="tempUser.password"
              ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).+$/"
              ng-minlength="8"
              ng-change="clearPassword()"
              ng-class="{error: myProfileForm.password.$invalid}">
          </td>
        </tr>
        <tr class="l-myprofile-row" ng-show="tempUser.password">
          <td class="l-myprofile-header">CONFIRM</td>
          <td>
            <input id="l-myprofile-email"
              type="password"
              name="passwordConfirm"
              ng-minlength="8"
              ng-model="tempUser.passwordConfirm"
              ng-class="{error: myProfileForm.passwordConfirm.$invalid}"
              ng-keypress="submitInfo()"
              ng-required="tempUser.password">
          </td>
        </tr>
        <tr class="l-myprofile-row">
          <td class="l-myprofile-header">POSITION</td>
          <td class="l-myprofile-data no-edit">
            {{auth.getUser().role}}
          </td>
        </tr>
      </table>
      <table cellspacing="0" id="step2">
        <tr class="l-myprofile-row">
          <td class="l-myprofile-header">FACEBOOK</td>
          <td class="l-myprofile-data">
            <button class="m-btn"
                ng-click="linkFacebook()"
                ng-show="!fbError && !fbSuccess"
                type="button">
                Link Facebook
            </button>
            <button class="m-btn"
                ng-click="unlinkFacebook()"
                ng-show="!fbError && fbSuccess"
                type="button">
                Unlink Facebook
            </button>
            <div ng-show="fbError">
                There was an error linking the facebook account.
            </div>
          </td>
        </tr>
        <tr class="l-myprofile-row">
          <td class="l-myprofile-header">TWITTER</td>
          <td class="l-myprofile-data">
            <button class="m-btn"
                ng-click="linkTwitter()"
                ng-show="!twitterError && !twitterSuccess"
                type="button">
                Link Twitter
            </button>
            <button class="m-btn"
                ng-click="unlinkTwitter()"
                ng-show="!twitterError && twitterSuccess"
                type="button">
                Unlink Twitter
            </button>
            <div ng-show="twitterError">
                There was an error linking the twitter account.
            </div>
          </td>
        </tr>
      </table>
      <table cellspacing="0" id="step4">
        <tr class="you-gotta-keep-em-separated">
          <td colspan="2">Bar Information</td>
        </tr>

        <tr class="l-myprofile-row">
          <td class="l-myprofile-header">BAR CODE</td>
          <td id="l-myprofile-bar-code">
            <div ng-class="{'no-edit': !auth.hasPermission('bars', 'edit') }">{{tempBar.code}}</div>
            <div id="l-myprofile-refresh-icon" ng-if="auth.hasPermission('bars', 'edit')" ng-click="generateNewBarCode()"><img src="img/refresh.png"/></div>
          </td>
        </tr>
        <tr class="l-myprofile-row">
          <td class="l-myprofile-header">
            BAR NAME
            <span class="l-myprofile-changed" ng-show="isBarChanged(myProfileForm.barName, 'name')">*</span>
          </td>
          <td>
            <input id="l-myprofile-barName"
              type="text"
              name="barName"
              ng-model="tempBar.name"
              ng-class="{error: myProfileForm.barName.$invalid, 'no-edit': !auth.hasPermission('bars', 'edit') }"
              ng-keypress="submitInfo()"
              required
              ng-disabled="{{!auth.hasPermission('bars', 'edit')}}">
          </td>
        </tr>
        <tr class="l-myprofile-row">
          <td class="l-myprofile-header">
            BAR TYPE
            <span class="l-myprofile-changed" ng-show="isBarSelectChanged('category')">*</span>
          </td>
          <td class="l-myprofile-data no-edit" ng-if="!auth.hasPermission('bars', 'edit')">
            {{bar.category}}
          </td>
          <td ng-if="auth.hasPermission('bars', 'edit')">
            <div class="m-form">
              <div class="m-form-select">
                <select  id="l-myprofile-select"
                  placeholder="Bar Type"
                  ng-options="type for type in barTypes"
                  ng-model="tempBar.category"
                  ng-keypress="submitInfo()"
                  required
                  ng-disabled="{{!auth.hasPermission('bars', 'edit')}}">
                </select>
              </div>
            </div>
          </td>
        </tr>
        <tr class="l-myprofile-row">
          <td class="l-myprofile-header">
            STREET
            <span class="l-myprofile-changed" ng-show="isBarChanged(myProfileForm.street, 'street')">*</span>
          </td>
          <td>
            <input id="l-myprofile-street"
              type="text"
              name="street"
              ng-model="tempBar.streetAddress"
              ng-class="{error: myProfileForm.street.$invalid, 'no-edit': !auth.hasPermission('bars', 'edit') }"
              required
              ng-keypress="submitInfo()"
              ng-disabled="{{!auth.hasPermission('bars', 'edit')}}">
          </td>
        </tr>
        <tr class="l-myprofile-row">
          <td class="l-myprofile-header">
            CITY
            <span class="l-myprofile-changed" ng-show="isBarChanged(myProfileForm.city, 'city')">*</span>
          </td>
          <td>
            <input id="l-myprofile-city"
              type="text"
              name="city"
              ng-model="tempBar.city"
              ng-class="{error: myProfileForm.city.$invalid, 'no-edit': !auth.hasPermission('bars', 'edit') }"
              required
              ng-keypress="submitInfo()"
              ng-disabled="{{!auth.hasPermission('bars', 'edit')}}">
          </td>
        </tr>
        <tr class="l-myprofile-row">
          <td class="l-myprofile-header">
            STATE
            <span class="l-myprofile-changed" ng-show="isBarSelectChanged('state')">*</span>
          </td>
          <td class="l-myprofile-data no-edit" ng-if="!auth.hasPermission('bars', 'edit')">
            {{bar.state | statename }}
          </td>
          <td ng-if="auth.hasPermission('bars', 'edit')">
            <div class="m-form">
              <div class="m-form-select">
                <select name="state"
                  placeholder="State"
                  ng-model="tempBar.state"
                  ng-options="state as (state | statename) for state in states"
                  required>
                  <option value="">State</option>
                </select>
              </div>
            </div>
          </td>
        </tr>
        <tr class="l-myprofile-row">
          <td class="l-myprofile-header">
            ZIPCODE
            <span class="l-myprofile-changed" ng-show="isBarChanged(myProfileForm.zipcode, 'zipcode')">*</span>
          </td>
          <td>
            <input id="l-myprofile-zipcode"
              type="text"
              name="zipcode"
              ng-model="tempBar.zipcode"
              ng-class="{error: myProfileForm.zipcode.$invalid, 'no-edit': !auth.hasPermission('bars', 'edit') }"
              required
              no-letters
              ng-minlength="5"
              ng-maxlength="5"
              ng-keypress="submitInfo()"
              ng-disabled="{{!auth.hasPermission('bars', 'edit')}}">
          </td>
        </tr>
        <tr class="l-myprofile-row">
          <td colspan="2">
            <button class="m-btn center"
                ng-click="goToSurvey()"
                ng-show="{{auth.hasPermission('bars', 'edit')}}"
                type="button"
                ng-disabled="{{!auth.hasPermission('bars', 'edit')}}">
                COMPLETE SURVEY
              </button>
          </td>
        </tr>
      </table>
    </form>
  </div>


</div>
