 <div id="l-myprofile" class="m-blade view">

	 <blade-header blade-title="MY PROFILE" cancel="cancel()" save="save()"></blade-header>
	<div id="bar-questions-header">
		<h1>TELL US ABOUT YOUR BAR</h1>
		<br />
		<!-- <button class="m-btn" ng-click="skip()">
			Skip to Finish
		</button> -->
		<div id="bar-questions-progress">
			Question {{activeQuestion}} of {{questions.length}}
		</div>
	</div>
	<div class="registration-question">
		<p class="registration-question-question">
			{{question.question}}
		</p>
		<p class="registration-question-instruction">
			{{question.instruction}}
		</p>

		<!-- Select One Questions -->
		<form id="barQuestionRadio"
			class="bar-question-radio"
			ng-show="question.type == 'radio'">
			<label for="radio-{{$index}}"
				ng-repeat="option in question.choices">
				<input type="radio"
					id="radio-{{$index}}"
					name="questionButton"
					ng-model='answers[question._id].answer'
					value="{{option.id}}">
				<span></span>
				{{option.answer}}
			</label>
		</form>

		<!-- Select One with Other Option Questions -->
		<form id="barQuestionRadioOther"
			ng-show="question.type == 'radio:other'"
			class="bar-question-radio-other">
			<label for="radio-o-t-{{$index}}"
				ng-repeat="option in question.choices">
				<input type="radio"
					id="radio-o-t-{{$index}}"
					name="questionOtherButton"
					ng-model='answers[question._id].answer'
					value="{{option.id}}">
				<span></span>
				{{option.answer}}
			</label>
			<label for="radio-o">
				<input type="radio"
					id="radio-o"
					name="questionOtherButton"
					ng-model='answers[question._id].answer'
					value="other">
				<span></span>
				<span ng-hide='question.otherReplacement'>Other</span>
				<span ng-show='question.otherReplacement'>{{ question.otherReplacement }}</span>
			</label>
			<input type="text"
				id="radio-o-text"
				name="radioOtherText"
				ng-model='answers[question._id].other'>
		</form>

		<!-- Multiple Questions -->
		<form id="barQuestionRadio"
			ng-show="question.type == 'multiple'"
			class="bar-question-multiple">
			<label for="multiple-{{$index}}"
				ng-repeat="option in question.choices">
				<input type="checkbox"
					id="multiple-{{$index}}"
					ng-model='answers[question._id][option.id]'
					name="questionButton"
					value="true">
				<span></span>
				{{option.answer}}
			</label>
		</form>

		<!-- Multiple with Other Option Questions -->
		<form id="barQuestionRadioOther"
			ng-show="question.type == 'multiple:other'"
			class="bar-question-multiple-other">
			<label for="multiple-o-{{$index}}"
				ng-repeat="option in question.choices">
				<input type="checkbox"
					id="multiple-o-{{$index}}"
					name="questionOtherButton"
					ng-model='answers[question._id][option.id]'
					value="true">
				<span></span>
				{{option.answer}}
			</label>
			<label for="multiple-o">
				<input type="checkbox"
					id="multiple-o"
					name="questionOtherButton"
					ng-model='answers[question._id].other'
					value="true">
				<span></span>
				<span ng-hide='question.otherReplacement'>Other</span>
				<span ng-show='question.otherReplacement'>{{ question.otherReplacement }}</span>
			</label>
			<input type="text"
				id="multiple-o-text"
				name="radioOtherText"
				ng-model='answers[question._id].otherText'>
		</form>

		<!-- Text Questions -->
		<form id="barQuestionRadio"
			class="bar-question-text"
			ng-show="question.type == 'text'">
			<input type="text"
				name="questionButton"
				ng-model='answers[question._id].answer'
				placeholder="www.bigwhiskey.com">
		</form>

		<!-- Percentage Questions -->
		<form id="barQuestionPercentage"
			class="bar-question-text"
			ng-show="question.type == 'percentage'">
			<label ng-repeat-start="option in question.choices">
				{{option.answer}}
			</label>
			<input ng-repeat-end
				type="text"
				placeholder="{{option.answer}}"
				ng-model='answers[question._id][option.id]'
				style="margin-bottom: 10px;">
		</form>
	</div>

	<div id="l-register-nav-container" style='bottom: 20px !important;'>
		<div id="l-register-nav-btns">
			<span id="l-register-back-btn"
				name="registerBackBtn"
				ng-click="back()"
				ng-show='showBack'>&lt; BACK</span>
			<span id="l-register-next-btn"
				name="registerNextBtn"
				ng-click="next()"
				ng-show="showNext">NEXT &gt;</span>
			<span id="l-register-finish-btn"
				name="registerFinishBtn"
				ng-click="finish()"
				ng-show="showFinish">FINISH</span>
		</div>
	</div>

</div>