<div ng-show="createView">

<div class="pageHeader">
	Create Promotion
</div>

<div align="center">

	<div class="inlineDiv">
		<div class="blackBlock">
			<div class="inlineDiv">
				<div class="error" ng-show="error">
					<h2>There was an error loading the page</h2>
					<p>{{error}}</p>
				</div>
				<form class="promotions">
					<div class="input-div">
						Title: <br/>
						<input type="text" ng-model="promotion.title" />
					</div>
					<br/>
					<div>
						Description: <br/>
						<textarea rows="10" cols="30" ng-model="promotion.description"></textarea>
					</div>
					<br/>
					<div>
						Areas: <br/>
						<span>
							<input type="checkbox" value="false" ng-model="allAreas">All
						</span>
						<div ng-repeat="(key, value) in promotion.areas" style="display:inline-block">
							<input type="checkbox" value="{{value}}" ng-model="promotion.areas[key]" />{{key}}&nbsp;
						</div>
					</div>
					<br/>
					<div>
						Categories (only checked items will be saved):<br/>
						<div style="text-align:center">
							<div ng-repeat="(key, value) in promotion.categories" class="checkbox-list">
								<div style="display:inline-block;text-align:center;width=25px;">
									<input type="checkbox" value="{{value}}" ng-model="promotion.categories[key]" />
								</div>
								<div style="text-align:left;display:inline-block;width:200px;">
									{{key}}
								</div>
							</div>
							<div class="checkbox-list" ng-hide="{{Object.keys(promotion.categories).length % 2}}"></div>
						</div>
						<br/>
						<div id="new-category">
							<input type="text" placeholder="New Category" ng-model="newCategory" />
							<input type="submit" value="Add Category" ng-click="addCategory()" />
						</div>
					</div>
					<br/>
					<div>
						<div style="display:inline-block;">
							Start Date: <br/>
							<input type="date" ng-model="promotion.startDate" />
						</div>&nbsp;&nbsp;&nbsp;&nbsp;
						<div style="display:inline-block;">
							End Date: <br/>
							<input type="date" ng-model="promotion.endDate" />
						</div>
					</div>
					<br/>
					<div>
						Social Images: <br/>
						<input type="file" accept="image/x-png, image/jpeg" file-input="promotion.socialImages" multiple/>
						<div ng-repeat="file in promotion.socialImages">
							{{file.name}}
						</div>
					</div>
					<br/>
					<div>
						<span>Bar Id: ?????</span>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<span><input type="checkbox" value="false" ng-model="promotion.custom" />Custom</span>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<span>
							<input type="checkbox" value="false" ng-model="promotion.sponsored" />Sponsored
						</span>
					</div>
					<br/>
					<div ng-show="submitted" style="margin-bottom:10px; text-align:center; color:red;">
						{{submitted}}<br/></br>
					</div>
					<div>
						<input type="submit" value="Create Promotion" ng-click="createPromotion()">
					</div>
				</form>
			</div>
		</div>
	</div>
</div> 

</div>

<div align="center" ng-show="finalView">
	<div class="inlineDiv">
		<div class="blackBlock">
			<div class="inlineDiv">
				<div style="margin-bottom:10px; text-align:center;">
						{{submitted}}<br/></br>
						<a href="#/viewPromotions"<input type="submit" value="View Promotions" ng-click="backToView()"></a>
				</div>
			</div>
		</div>
	</div>
</div>