<div id="l-preshift-recipients" class="m-blade">
  <blade-header blade-title="SELECT RECIPIENTS" back="back()" done="done()"></blade-header>

  <div id="l-recipients-container">
    <button id="l-preshift-recipients-button" class="m-btn center" ng-click="selectAll()">SELECT ALL</button>


    <div class="l-recipients" ng-class="{selectedRecipient: isSelected(recipient)}" ng-repeat="recipient in recipients" ng-click="selectRecipient(recipient)">
      <user-avatar avatar-source="{{recipient.pictureURI}}"
        avatar-first-name="{{recipient.firstName}}"
        avatar-last-name="{{recipient.lastName}}"
        avatar-role="{{recipient.role}}"
        avatar-selected="{{isSelected(recipient)}}">
      </user-avatar>
    </div>
  </div>

</div>
